{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
   <li class="active">{{ "Ativar/Desativar Elementos da Coleta"|trans }}</li>
{% endblock %}


{% block body %}

    <div class="row-fluid">

        <div class="span12">
            <div class="box grad_colour_black">
                <h2 class="box_head round_top"><i class="icon-list"></i> {{'Propriedades'|trans }}</h2>
                <div class="block box_content round_bottom padding_10">

                    <h3>{{'Propriedades'|trans }}</h3>
                    <p class="muted">
                        {{ 'Esta página apresenta as propriedades de coleta.'|trans }}
                    </p>
                    <p class="muted">
                        {{ 'Desmarcar uma propriedade e clicar no botão Enviar vai eliminá-la das coletas.'|trans }}
                    </p>
                    <hr />

                    <form method="post" id={{ 'frmFiltroRelatorioDinamico'| trans }} action="{{ path('cacic_wmi_ativar_bulk') }}" class="form-horizontal" method="POST">

                        {% for className in ativos|keys %}
                            {% if ((loop.index % 3) == 0) %}
                                <div class="row">
                            {% endif %}
                            <div class="col-md-4">
                                <fieldset>
                                    <legend>
                                        {{ className }}
                                    </legend>
                                    {% for property in ativos[className] %}
                                        <div class="controls" id="remover">
                                            <label class="checkbox uniform">
                                                <div id="uniform-undefined" class="checker">
                                                    <span>
                                                        {% if property.ativo == 'false' %}
                                                            <input class="checkbox uniform_on" type="checkbox" name="property[]" value="{{ property.idClassProperty }}">
                                                        {% else %}
                                                            <input class="checkbox uniform_on" type="checkbox" name="property[]" value="{{ property.idClassProperty }}" checked>
                                                        {% endif %}
                                                    </span>
                                                        {{ property.nmPropertyName }}
                                                </div>

                                            </label>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            {% if ((loop.index % 3) == 0) %}
                                </div>
                            {% endif %}

                        {% endfor %}

                        <br>
                        <div align="center">
                            <button type="reset" class="btn">
                                <i class="icon-refresh"></i>
                                {{ "Resetar Valores"|trans }}
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-ok-sign"></i>
                                {{ "Salvar Dados"|trans }}
                            </button>
                        </div>

                    </form>

                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span -->

    </div> <!-- /row -->


{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/cacicrelatorio/libs/bootstrap-transfer-master/css/bootstrap-transfer.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}

{% endblock %}
