{% extends '::base.html.twig' %}

{% block body %}

<div class="page-header">
    <h1>Usuário
      <small>Dados do usuário</small></h1>
</div>

<div class="well">

	<form id="formCadastroUsuario" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>

		{{ form_widget(form) }}
		{{ form_rest(form) }}

		<div class="form-opcoes">
			<input type="reset" value="Limpar Valores" class="btn btn-small" />
			<input type="submit" value="Salvar Dados" class="btn btn-primary btn-small" />
		</div>

	</form>
</div>

<div>
	<a class="btn btn-danger btn-small"  href="{{ path('cacic_usuario_index') }}">Cancelar</a>
</div>

<script type="text/javascript">
	
	var oLocais = []; // JSON com Locais
	var oGrupoDesc = { // JSON com descricao dos grupos
		{% for grupo in grupoDesc %}
		{{ grupo['idGrupoUsuarios'] }}: "{{ grupo['teDescricaoGrupo'] }}"{% if loop.last != true %},{% endif %}
		{% endfor %}
	};

	/**
	 * Monta JSON com lista de Locais
	 */
	$(document).ready(function(){
		$( '#usuario_localPrimario option' ).each(function(){
			if ( $(this).val() != '' && $(this).val() != undefined )
			{
				oLocais.push({ idLocal: $(this).val(), nmLocal: $(this).text() });
			}
		})
		
		// Verifica se já há algum local primário pré-selecionado para retirá-lo da lista de locais secundários
		if ( $( '#usuario_localPrimario' ).val() != '' && $( '#usuario_localPrimario' ).val() != undefined )
		{
			$( '#usuario_SelectLocaisSecundarios option[value='+ $( '#usuario_localPrimario' ).val() +']' ).remove();
		}
	});

	/**
	 * Remove o local principal selecionado da lista de locais secundários
	 */
	$( '#usuario_localPrimario' ).change(function(){
		// Primeiro, remove todos os itens da combo de locais secundários
		$( '#usuario_SelectLocaisSecundarios option' ).each(function(){
			$(this).remove();
		});
		
		// Preenche novamente o select de locais secundários, omitindo o elemento selecionado no combo de Local Principal
		for ( var i in oLocais )
		{
			if ( oLocais[i].idLocal != $(this).val() )
			{
				var sOption = '<option value="'+ oLocais[i].idLocal +'">'+ oLocais[i].nmLocal +'</option>';
				$( '#usuario_SelectLocaisSecundarios' ).append( sOption );
			}
		}
	});
	
	/**
	 * Configura os campos hidden (local primário, servidor autenticação e locais secundários) baseado nos valores selecionados nas combos
	 */
	 $( '#formCadastroUsuario' ).submit(function(){
		 $( '#usuario_teLocaisSecundarios' ).val( $( '#usuario_SelectLocaisSecundarios' ).val() );
		 $( '#usuario_idLocal' ).val( $( '#usuario_localPrimario' ).val() );
		 $( '#usuario_idServidorAutenticacao' ).val( $( '#usuario_servidorAutenticacao' ).val() );
		 $( '#usuario_idGrupoUsuarios' ).val( $( '#usuario_grupo' ).val() );
		 return true;
	 });
	
	$( '#usuario_grupo' ).change( function(){
		$( '#usuario_te_descricao_grupo' ).val( oGrupoDesc[ $( this ).val() ] );
	});
	
</script>
{% endblock %}