{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Configuração Padrão'|trans }}</li>
{% endblock %}


{% block body %}

    <div class="row-fluid">

    <div class="span12">
    <div class="box grad_colour_black">
    <h2 class="box_head round_top"><i class="icon-cog"></i>{{ 'Configurações'|trans }}</h2>

    <div class="block box_content round_bottom padding_10">

        {% set vars = {'conf': configuracoes} %}
        {% include 'CacicCommonBundle:Configuracao:configuracoes.html.twig' with vars %}

    </div> <!-- /block -->
    </div> <!-- /box -->
    </div> <!-- /span -->

    </div> <!-- /row -->

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets combine=false filter='cssrewrite'
    'bundles/caciccommon/colorpicker/css/colorpicker.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="{{ asset('acicCommonBundle/Resources/public/TwitterBootstrapTheme_AdminIntenso_1.0/js/*') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/caciccommon/colorpicker/js/bootstrap-colorpicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/caciccommon/js/theme.js') }}"></script>
    <script type="text/javascript">

        // Máscaras nos campos
        {% for conf in configuracoes %}
            {% if conf.idConfiguracao == 'id_default_body_bgcolor' %}
                var id_default_body_bgcolor = "{{ conf.vlConfiguracao }}";
            {% endif %}
        {% endfor %}

        $.cookie('the_cookie', id_default_body_bgcolor, { expires: 365, path: '/' });


        //var id_default_body_bgcolor = $.cookie('the_cookie');

        $("body").css('background', id_default_body_bgcolor);
        $('#id_default_body_bgcolor').colorpicker().on('hide', function( ev ){
            $("body").css('background', id_default_body_bgcolor)
            if ( id_default_body_bgcolor != ev.color.toHex() ) // Verifica se a cor foi alterada

            {
                id_default_body_bgcolor = ev.color.toHex();
                salvaConfiguracao( 'id_default_body_bgcolor', id_default_body_bgcolor );
                $("body").css('background', id_default_body_bgcolor)
                location.reload ();

            }

        });
        // Monitora os campos do tipo radio, checkbox, texto e textearea
        $('#config_padrao_data input, #config_padrao_data textarea').bind('change', function(e)
        {
            e.preventDefault();
            var _value = $(this).val();

            if ( $(this).attr('name') == 'te_exibe_graficos' )
            { // CHECKBOXES relativos a exibição de gráficos na página inicial
                _value = '';
                $('input[name=te_exibe_graficos]:checked').each(function( index ){
                    if ( index != 0 ) _value += ',';
                    _value += $(this).val();
                });
            }

            salvaConfiguracao( $(this).attr('name'), _value );
        });

        /**
         * [AJAX] Salva a mudança na configuração
         */
        function salvaConfiguracao( config, valor )
        {
            var url = "{{ path('cacic_configuracao_salvar') }}";
            var params = { 'idConfiguracao': config , 'vlConfiguracao': valor };
            $.ajax(
                    {
                        type: "POST",
                        url: url,
                        cache: false,
                        async: false,
                        success: function( data )
                        {
                            System.Flash.show( 'Sucesso', 'Configuração alterada com sucesso!' );
                            location.reload ();
                        },
                        error: function( data )
                        {
                            System.Flash.show( 'Erro', 'Erro na alteração da configuração!' );
                        },
                        complete: function( data )
                        {
                            $('html, body').animate({scrollTop:0}, 1200, 'linear');
                        },
                        data: params
                    }
            );
        }

    </script>

{% endblock %}