{% extends '::base.html.twig' %}

{% block breadcrumb %}     
	<li class="active">Configuração Padrão</li>
{% endblock %}

{% block body %}

<div class="row-fluid">

<div class="span12">
	<div class="box grad_colour_black">
		<h2 class="box_head round_top"><i class="icon-cog"></i>Configurações</h2>
	
		<div class="block box_content round_bottom padding_10">

			<h3>Lista de configurações-padrão</h3>
			<p>Define as configurações para sugestões em formulários</p>
			<br />

	        <table class="table table-striped table-bordered">
				<thead>
				<tr>
				    <th width="30%">Diretiva</th>
				    <th width="70%">Valor</th>
			    </tr>
				</thead>
		
			  	<tbody id="config_padrao_data">
                                
                <tr id="item_1">
                    <td>Exibir erros criticos aos usuarios</td>
                    <td id="item_desc_1">
                        <input id="in_exibe_erros_criticos_s" type="radio" name="in_exibe_erros_criticos" value="S" 
                            {% if ( configuracoes['in_exibe_erros_criticos'] == 'S' ) %}checked="checked"{% endif %}
                        /> 
                        <label for="in_exibe_erros_criticos_s">Sim</label> 
                        <input id="in_exibe_erros_criticos_n" type="radio" name="in_exibe_erros_criticos" value="N" 
                            {% if ( configuracoes['in_exibe_erros_criticos'] == 'N' ) %}checked="checked"{% endif %}
                        /> 
                        <label for="in_exibe_erros_criticos_n">Não</label>
                    </td>
                </tr>
                
                <tr id="item_2">
                    <td>Exibir o icone do CACIC na bandeja (systray)</td>
                    <td id="item_desc_2">
	                    <input id="in_exibe_bandeja_s" type="radio" name="in_exibe_bandeja" value="S" 
	                        {% if ( configuracoes['in_exibe_bandeja'] == 'S' ) %}checked="checked"{% endif %}
	                    /> 
	                    <label for="in_exibe_bandeja_s">Sim</label> 
	                    <input id="in_exibe_bandeja_n" type="radio" name="in_exibe_bandeja" value="N"
	                        {% if ( configuracoes['in_exibe_bandeja'] == 'N' ) %}checked="checked"{% endif %}
	                    /> 
	                    <label for="in_exibe_bandeja_n">Não</label>
                    </td>
                </tr>
                
                <tr id="item_3">
                    <td>nu_exec_apos</td>
                    <td id="item_desc_3">
                        <input id="nu_exec_apos" type="text" name="nu_exec_apos" value="{{ configuracoes['nu_exec_apos'] }}" />
                    </td>
                </tr>
                
                <tr id="item_4">
                    <td>Quantidade máxima de linhas em relatorios</td>
                    <td id="item_desc_4">
                        <input id="nu_rel_maxlinhas" type="text" name="nu_rel_maxlinhas" value="{{ configuracoes['nu_rel_maxlinhas'] }}" />
                    </td>
                </tr>
                
                <tr id="item_5">
                    <td>Nome da organização</td>
                    <td id="item_desc_5">
                        <input id="nm_organizacao" type="text" name="nm_organizacao" value="{{ configuracoes['nm_organizacao'] }}" />
                    </td>
                </tr>
                
                <tr id="item_6">
                    <td>nu_timeout_srcacic</td>
                    <td id="item_desc_6">
                        <input id="nu_timeout_srcacic" type="text" name="nu_timeout_srcacic" value="{{ configuracoes['nu_timeout_srcacic'] }}" />
                    </td>
                </tr>
                
                <tr id="item_7">
                    <td>nu_intervalo_exec</td>
                    <td id="item_desc_7">
                        <input id="nu_intervalo_exec" type="text" name="nu_intervalo_exec" value="{{ configuracoes['nu_intervalo_exec'] }}" />
                    </td>
                </tr>
                
                <tr id="item_8">
                    <td>nu_intervalo_renovacao_patrim</td>
                    <td id="item_desc_8">
                        <input id="nu_intervalo_renovacao_patrim" type="text" name="nu_intervalo_renovacao_patrim" value="{{ configuracoes['nu_intervalo_renovacao_patrim'] }}" />
                    </td>
                </tr>
                
                <tr id="item_9">
                    <td>Senha padrão para administrar o agente</td>
                    <td id="item_desc_9">
                        <input id="te_senha_adm_agente" type="text" name="te_senha_adm_agente" value="{{ configuracoes['te_senha_adm_agente'] }}" />
                    </td>
                </tr>
                
                <tr id="item_10">
                    <td>Nome ou IP do servidor de atualização (FTP)</td>
                    <td id="item_desc_10">
                        <input id="te_serv_updates_padrao" type="text" name="te_serv_updates_padrao" value="{{ configuracoes['te_serv_updates_padrao'] }}" />
                    </td>
                </tr>
                
                <tr id="item_11">
                    <td>Nome ou IP do servidor de aplicação (gerente)</td>
                    <td id="item_desc_11">
                        <input id="te_serv_cacic_padrao" type="text" name="te_serv_cacic_padrao" value="{{ configuracoes['te_serv_cacic_padrao'] }}" />
                    </td>
                </tr>
                
                <tr id="item_12">
                    <td>Endereços MAC a desconsiderar</td>
                    <td id="item_desc_12">
                        <textarea id="te_enderecos_mac_invalidos" type="text" name="te_enderecos_mac_invalidos" rows="10">{{ configuracoes['te_enderecos_mac_invalidos'] }}</textarea>
                    </td>
                </tr>
                           
                <tr id="item_13">
                    <td>Aplicativos (janelas) a evitar</td>
                    <td id="item_desc_13">
                        <textarea id="te_janelas_excecao" type="text" name="te_janelas_excecao" rows="10">{{ configuracoes['te_janelas_excecao'] }}</textarea>
                    </td>
                </tr>
                                
                <tr id="item_14">
                    <td>Exibe janela de patrimônio</td>
                    <td id="item_desc_14">
                        <input id="cs_abre_janela_patr_s" type="radio" name="cs_abre_janela_patr" value="S" 
                            {% if ( configuracoes['cs_abre_janela_patr'] == 'S' ) %}checked="checked"{% endif %}
                        /> 
                        <label for="cs_abre_janela_patr">Sim</label> 
                        <input id="cs_abre_janela_patr_n" type="radio" name="cs_abre_janela_patr" value="N"
                            {% if ( configuracoes['cs_abre_janela_patr'] == 'N' ) %}checked="checked"{% endif %}
                        /> 
                        <label for="cs_abre_janela_patr_n">Não</label>
                    </td>
                </tr>
                
                <tr id="item_15">
                    <td>id_default_body_bgcolor</td>
                    <td id="item_desc_15">
			            <input type="text" id="id_default_body_bgcolor" name="id_default_body_bgcolor" value="{{ configuracoes['id_default_body_bgcolor'] }}" />
                    </td>
                </tr>
                
                <tr id="item_16">
                    <td>Gráficos a serem exibidos</td>
                    <td id="item_desc_16">
                        <input type="checkbox" id="te_exibe_graficos_so" name="te_exibe_graficos[]" value="so" />
                        <label for="te_exibe_graficos_so">Sistemas Operacionais</label>
                        
                        <input type="checkbox" id="te_exibe_graficos_acessos" name="te_exibe_graficos[]" value="acessos" /> 
                        <label for="te_exibe_graficos_acessos">Acessos</label>
                        
                        <input type="checkbox" id="te_exibe_graficos_acessos_locais" name="te_exibe_graficos[]" value="acessos_locais" /> 
                        <label for="te_exibe_graficos_acessos_locais">Acessos Locais</label>
                        
                        <input type="checkbox" id="te_exibe_graficos_locais" name="te_exibe_graficos[]" value="locais" /> 
                        <label for="te_exibe_graficos_locais">Locais</label>
                    </td>
                </tr>
                
                                
                <tr id="item_17">
                    <td>nu_porta_srcacic</td>
                    <td id="item_desc_17">
                        <input id="nu_porta_srcacic" type="text" name="nu_porta_srcacic" value="{{ configuracoes['nu_porta_srcacic'] }}" />
                    </td>
                </tr>
                
                                
                <tr id="item_18">
                    <td>Resolucao dos graficos a serem exibidos (Altura)</td>
                    <td id="item_desc_18">
                        <input id="nu_resolucao_grafico_h" type="text" name="v" value="{{ configuracoes['nu_resolucao_grafico_h'] }}" />
                    </td>
                </tr>
                
                                
                <tr id="item_19">
                    <td>Resolucao dos graficos a serem exibidos (Largura)</td>
                    <td id="item_desc_19">
                        <input id="nu_resolucao_grafico_w" type="text" name="nu_resolucao_grafico_w" value="{{ configuracoes['nu_resolucao_grafico_w'] }}" />
                    </td>
                </tr>
                
                                
              </tbody>
			</table>
		</div> <!-- /block -->
	</div> <!-- /box -->
</div> <!-- /span -->

</div> <!-- /row -->
{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    
    {% stylesheets combine=false filter='cssrewrite'
        'bundles/caciccommon/colorpicker/css/colorpicker.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}}
    
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/caciccommon/colorpicker/js/bootstrap-colorpicker.js') }}"></script>

    <script type="text/javascript">     
    
        // Máscaras nos campos
	    $('#nu_exec_apos, #nu_rel_maxlinhas').mask('9?999999999');
	    $('#nu_timeout_srcacic, #nu_intervalo_exec, #nu_intervalo_renovacao_patrim').mask('9?9');
	    $('#nu_porta_srcacic, #nu_resolucao_grafico_w, #nu_resolucao_grafico_h').mask('9?999');
	    
	    // Monitora o campo de seleção de cor
	    var id_default_body_bgcolor = "{{ configuracoes['id_default_body_bgcolor'] }}";
	    $('#id_default_body_bgcolor').colorpicker().on('hide', function( ev ){
	    	if ( id_default_body_bgcolor != ev.color.toHex() ) // Verifica se a cor foi alterada
	    	{
	    		id_default_body_bgcolor = ev.color.toHex();
	            salvaConfiguracao( 'id_default_body_bgcolor', id_default_body_bgcolor );
	    	}
	    });
	    
	    // Monitora os campos do tipo texto e textearea
		$('#config_padrao_data input, #config_padrao_data textarea').bind('change', function(e)
	    {
			e.preventDefault();
			salvaConfiguracao( $(this).attr('name'), $(this).val() );
	    });
		
		/**
		 * [AJAX] Salva a mudança na configuração
		 */
		function salvaConfiguracao( config, valor )
		{
			//alert( config +'='+ valor );
			var url = "{{ path('cacic_configuracao_padrao_salvar') }}";
			var params = { 'sgVariavel': config , 'vlConfiguracao': valor };
            $.ajax(
                {
                    type: "POST",
                    url: url,
                    cache: false,
                    async: false,
                    success: function( data )
                    {
                        System.Flash.show( 'Sucesso', 'Configuração alterada com sucesso!' );
                    },
                    error: function( data )
                    {
                        System.Flash.show( 'Erro', 'Erro na alteração da configuração!' );
                    },
                    data: params
                }
            );
		}
	    
    </script>

{% endblock %}