{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Sistemas Operacionais<small>Lista de SO cadastrados</small></h1>
</div>


<div class="well">

    <table class="paginacao" cellpadding="2" cellspacing="0" width="100%" align="center">
        <tr>
            <td align="left"></td>
            <td align="right"></td>
        </tr>
    </table>

    <table class="list">
        <thead>
        <tr>
            <th width="15%">Descrição</th>
            <th width="15%">MS-Windows?</th>
            <th width="10%">ID Interna</th>
            <th width="15%" style="text-align: center">ID Externa</th>
            <th width="15%">Sigla</th>
            <th width="15%">Total de Máquinas</th>
            <th style="text-align: center">Ações</th>
        </tr>
        </thead>

        <tbody>

        {% for so in So %}
            <tr id="item_{{ so['idSo'] }}" class="{{ cycle(['row0', 'row1'], loop.index) }}">
                <td id="item_desc_{{ so['idSo'] }}">{{ so['teDescSo'] }}</td>
                <td style="text-align: center">{{ so['inMswindows'] }}</td>
                <td style="text-align: center">{{ so['teSo'] }}</td>
                <td style="text-align: center">{{ so['idSo'] }}</td>
                <td style="text-align: left">{{ so['sgSo'] }}</td>
                <td style="text-align: center"></td>
                <td style="text-align: center">
                    <a href="{{ path('cacic_sistemaoperacional_editar', {'idSo': so['idSo']}) }}">
                        <img src="{{ asset('bundles/caciccommon/images/v3/bt_edit.png') }}" border="0" alt="Editar Item" title="Editar Item" /></a>
                    <img src="{{ asset('bundles/caciccommon/images/v3/bt_del.png') }}" alt="Excluir Item" title="Excluir Item" class="bt-excluir" url="{{ path('cacic_sistemaoperacional_excluir') }}" />
                </td>
            </tr>
        {% else %}
            <tr>
                <td style="text-align: center;" colspan="6"><b>NENHUM REGISTRO ENCONTRADO!</b></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

<div align="right">
    <a class="btn btn-primary btn-small bt-adicionar" href="{{ path('cacic_sistemaoperacional_cadastrar') }}">Adicionar Sistema Operacional</a>
</div>

{% endblock %}