{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

    <h2 class="">{{ 'Relatório de Patrimônio'|trans }}</h2>
    <h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("m/d/Y H\\hi") }}{% endif %}</h5>

    <hr />

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
			<th width="5%" style="text-align: center"></th>
            <th width="10%">{{ "Nome Computador"|trans }}</th>
            <th width="10%">{{ "S.O"|trans }}</th>
            <th width="20%">{{ "Sub-rede"|trans }}</th>
            <th width="10%">{{ "Local"|trans }}</th>
            {%  if ( exibirColunaSoftware ) %}
                <th width="20%">{{ "Software"|trans }}</th>
            {%  endif %}


        </tr>
        </thead>

        <tbody>

        {% for reg in dados %}

            <tr>
				<td style="text-align: center">{{ loop.index }}</td>
                <td><b>
				<a href="{{ path("cacic_computador_detalhar") }}/{{ reg['idComputador'] }}" target="_blank">
					{{ reg['nmComputador'] }}
				</a></b>
				</td>
                <td><span class="{% if reg['inMswindows'] == 'S' %}red{% else %}blue{% endif %}">{{ reg['sgSo'] }}</span></td>
                <td><a href="{{ path("cacic_computador_detalhar") }}/{{ reg['idComputador'] }}" target="_blank">
					{{ reg['teIpRede'] }}/{{ reg['nmRede'] }}
				</a></td>
                <td>{{ reg['nmLocal'] }}</td>
                {%  if ( exibirColunaSoftware ) %}
                <td>{{ reg['nmSoftware'] }}</td>
                {%  endif %}


            </tr>

        {% else %}
            <tr>
                <td style="text-align: center" colspan="{%  if ( exibirColunaSoftware ) %}5{% else %}4{% endif %}"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}