{% extends '::base.html.twig' %}

{% block breadcrumb %}     
    <li class="active">{{ "Unidades Organizacionais"|trans }}</li>
{% endblock %}

{% block body %}

<div class="row-fluid">

<div class="span12">
    <div class="box grad_colour_black">
        <h2 class="box_head round_top"><i class="icon-sitemap"></i> {{ "Unidades Organizacionais"|trans }}</h2>
    
        <div class="block box_content round_bottom padding_10">

            <h3>{{ "Lista de Unidades Organizacionais Cadastradas"|trans }}</h3>
            <p>{{ "Neste módulo deverão ser cadastradas todas as unidades organizacionais do sistema - Entidades, Linhas de negócio e Órgãos."|trans }}</p>
            <br />
            <div id="tree_uorg0"></div> <!-- Árvore com as Unidades Organizacionais cadastradas -->
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('bundles/caciccommon/jqTree-0.15/jqtree.css') }}" type="text/css" rel="stylesheet" media="screen" />
    
    <style type="text/css">
       #tree_uorg0 {
        color: #000;
        font-size: 14pt;
        font-weight: bold;
        margin-left: 25px;
       }
       #tree_uorg0 li.jqtree_common {
        line-height: 20pt;
        margin-left: 25px;
       }
    </style>
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript" src="{{ asset('bundles/caciccommon/jqTree-0.15/tree.jquery.js') }}"></script>

<script type="text/javascript">

    var _dados = [ // Unidades de primeiro nível
        {% for uorg in uorgs %}
        {
        	label: '{{ uorg[0]["nmUorg"] }}',
        	id: {{ uorg[0]['idUorg'] }},
        	load_on_demand: {% if uorg['numFilhas'] %}true{% else %}false{% endif %}
        	
        }{% if loop.last != true %},{% endif %}
        
        {% endfor %}
    ];

    $(function() {
        $('#tree_uorg0').tree({
            data: _dados,
            dataUrl: function( node ) {
            	return '{{ path('cacic_uorg_loadnodes') }}/'+ node.id +'';
            },
            onCreateLi: function(node, $li) {
            	
           		var _acoesNode = ' <a href="{{ path('cacic_uorg_visualizar') }}/'+ node.id +'"><i class="icon-search" title="Visualizar dados da Unidade"></i></a> ';
           		_acoesNode += ' <a href="{{ path('cacic_uorg_cadastrar') }}/'+ node.id +'"><i class="icon-plus-sign" title="Cadastrar Unidade"></i></a> ';
           		_acoesNode += ' <a href="{{ path('cacic_uorg_editar') }}/'+ node.id +'"><i class="icon-edit" title="Editar Unidade"></i></a> ';
           		_acoesNode += ' <a href="{{ path('cacic_uorg_excluir') }}/'+ node.id +'"><i class="icon-trash" title="Excluir Unidade"></i></a> ';
           		
           		$li.find('span.jqtree-title').after( _acoesNode );
           		 
           		// Substitui a "seta" indicadora de existência de filhos
           		//$li.find('a.jqtree-toggler').html('<i class="icon-folder-close-alt"></i>');
            },
            autoEscape: false
        });
        
        $('#tree_uorg0').bind(
            'tree.init',
            function() {
            	
            }
        );
    });
    
</script>

{% endblock %}