{% extends 'CacicCommonBundle::base.html.twig' %}

{% block body %}

    <div class="row-fluid" xmlns="http://www.w3.org/1999/html">

        <div class="span12">
            <div class="box grad_colour_black">
                <h2 class="box_head round_top"><i class="icon-cog"></i>{{ 'Patrimônio'|trans }}</h2>

                <div class="block box_content round_bottom padding_10">

                    <h3>{{ 'Tela de Coleta de Informações de Patrimônio'|trans }} </h3>

                    <br />
                     <p>{{ 'Para configurar a interface da tela de coleta de informações de patrimônio que será exibida aos usuários,'|trans }}
                        {{ 'clique sobre os itens da tela abaixo e informe os valores desejados.'|trans }}
                    </p>
                    <br />
                    <center>
                    <img src="{{ asset('bundles/caciccommon/images/tela_patrimon.png') }} " usemap="#Map"/>
                    <map name="Map">
                        <area shape="rect" coords="655,212,784,231" href="#form-patrimonio-etiqueta9"  data-toggle="tab">
                        <area shape="rect" coords="655,168,784,187" href="#form-patrimonio-etiqueta6"  data-toggle="tab">
                        <area shape="rect" coords="504,168,631,187" href="#form-patrimonio-etiqueta5"  data-toggle="tab">
                        <area shape="rect" coords="353,212,480,231" href="#form-patrimonio-etiqueta7"  data-toggle="tab">
                        <area shape="rect" coords="504,212,631,231" href="#form-patrimonio-etiqueta8"  data-toggle="tab">
                        <area shape="rect" coords="353,168,481,185" href="#form-patrimonio-etiqueta4"  data-toggle="tab">
                        <area shape="rect" coords="353,120,784,140" href="#form-patrimonio-etiqueta3"  data-toggle="tab">
                        <area shape="rect" coords="15,214,338,230"  href="#form-patrimonio-etiqueta2"  data-toggle="tab">
                        <area shape="rect" coords="15,166,338,189"  href="#form-patrimonio-etiqueta1a" data-toggle="tab">
                        <area shape="rect" coords="15,120,338,140"  href="#form-patrimonio-etiqueta1"  data-toggle="tab">
                    </map>
                    <div class="tab-content">

                        <div class="tab-pane active"></div>
                        {% if (("form-patrimonio-etiqueta1")  != null) %}
                        <div class="tab-pane" id="form-patrimonio-etiqueta1">
                            <p><h4> informe os valores da Etiqueta 1</h4></p>
                            {% render url( 'cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta1' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta1a">
                            <p><h4> informe os valores da Etiqueta 1a</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta1a' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta2">
                            <p><h4> informe os valores da Etiqueta 2</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta2' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta3">
                            <p><h4> informe os valores da Etiqueta 3</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta3' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta4">
                            <p><h4> informe os valores da Etiqueta 4</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta4' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta5">
                            <p><h4> informe os valores da Etiqueta 5</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta5' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta6">
                            <p><h4> informe os valores da Etiqueta 6</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta6' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta7">
                            <p><h4> informe os valores da Etiqueta 7</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta7' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta8">
                            <p><h4> informe os valores da Etiqueta 8</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta8' }) %}
                        </div>
                        <div class="tab-pane" id="form-patrimonio-etiqueta9">
                            <p><h4> informe os valores da Etiqueta 9</h4></p>
                            {% render url('cacic_patrimonio_interface', { 'idEtiqueta' : 'etiqueta9' }) %}
                        </div>
                    {% endif %}
                    </div>
                    </center>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span -->
    </div> <!-- /row -->
{% endblock %}