{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ "Opções"|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">
        <div class="span8">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-cog"></i> {{ "Opções"|trans }}</h2>

                <div class="block box_content round_bottom padding_10" >

                    <h3>{{ "Opções da Coleta de Informações Patrimoniais e Localização Física "|trans }}</h3>
                    <br />
                    <form id={{ 'formOpcoes'|trans }} class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post">
                        <input type="hidden" name="config[idLocal]" value="{{ local.idLocal }}" />
                        
                        <h4> {{ 'Local de Aplicação'|trans }}:</h4>
                        <h4 class="red">{{ local.nmLocal }}</h4>
                        
                        <br /><h4> {{ 'Destacar as seguintes duplicidades no relatório de patrimônio'|trans }}:</h4><br />
                        
                        {% for conf in opcoes %}
                        <div class="control-group">
                            <label for="config_{{ conf.idEtiqueta }}" class="control-label">{{ conf.teEtiqueta }}</label>
                            <div class="controls">
                                <input type="checkbox" id="config_{{ conf.idEtiqueta }}" name="config[{{ conf.idEtiqueta }}]" maxlength="100" value="S"
                                    {% if conf.inDestacarDuplicidade == 'S' %}checked="checked"{% endif %}
                                >
                            </div>
                        </div>
                        {% endfor %}
                        
                        <br />
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-ok-sign"></i>
                                {{ "Salvar Dados"|trans }}
                            </button>
                        </div>
                    </form>
                </div> <!-- /block -->
            </div><!-- /box -->
        </div><!-- /span -->
    </div><!-- /row -->
{% endblock %}