<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="en">
	<head>
		<title>CACIC - Configurador Automático e Coletor de Informações Computacionais</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		{% block stylesheets %}
		<link href="{{ asset('bundles/caciccommon/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/caciccommon/css/message.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/caciccommon/css/main.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
		
		{% block javascripts %}
		<script src="{{ asset('bundles/caciccommon/js/jquery-1.9.0.min.js') }}" type="text/javascript" language="javascript"></script>
		{% endblock %}
	</head>

<body>

	<div class="navbar navbar-fixed">
		<div class="navbar-inner">
			<div class="container">
				<img src="{{ asset('bundles/caciccommon/images/cacic_logo.png') }}" width="50" height="50" align="left" hspace="10">
				<a class="brand" href="{{ path('cacic_common_homepage') }}">
					CACIC 
					<br /><small ><i>v. {{ cacic_version }}</i></small>
				</a>
				
			</div>
		</div>
	</div>

	<!-- Message -->

	<div id="ajaxLoading"></div>

	<div class="container">
		{# exibição das mensagens do sistema (sucesso, erro, avisos, etc..) #}
		{% block mensagens_sistema %}
			<div id="msgErro" class="flash-error mensagemErro">
			{% for flashMessage in app.session.flashbag.get('error') %}
		        {{ flashMessage }}
			{% endfor %}
			</div>
			
			<div id=msgAviso class="flash-notice mensagemAviso">
			{% for flashMessage in app.session.flashbag.get('notice') %}
		        {{ flashMessage }}
			{% endfor %}
			</div>
			
			<div id="msgSucesso" class="flash-success mensagemSucesso">
			{% for flashMessage in app.session.flashbag.get('success') %}
		        {{ flashMessage }}
			{% endfor %}
			</div>
		{% endblock %}
	
		<div>
		{% block body %}{% endblock %}
		</div>
		<hr>

		<footer>
			<p><b>CACIC</b> - <i>Configurador Automático e Coletor de Informações Computacionais</i></p>
		</footer>
	</div><!--/.fluid-container-->
	
	{{ app.session.flashbag.get('success')|length }}

</body>
</html>

<script type="text/javascript">
	$( document ).ajaxStart( function() { 
		$( '#ajaxLoading' ).fadeIn();
	}) 
	.ajaxStop( function() {
		$( '#ajaxLoading' ).fadeOut();
	});
	
	{% if app.session.flashbag.get('error')|length > 0 %} $('#msgErro').show(); {% endif %}
	{% if app.session.flashbag.get('notice')|length > 0 %} $('#msgAviso').show(); {% endif %}
	{% if app.session.flashbag.get('success')|length > 0 %} $('#msgSucesso').show(); {% endif %}
	
</script>
