<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      {% block meta %}
      {% endblock %}

    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/caciccommon/libs/googlecode.html5shim.js') }}"></script>
    <![endif]-->
    
    {% block stylesheets %}
        {% stylesheets output='assets/base.css' combine=true filter='cssrewrite,?yui_css'
            'bundles/caciccommon/TwitterBootstrapTheme_AdminIntenso_1.0/js/bootstrap/docs/assets/css/*'
            'bundles/caciccommon/TwitterBootstrapTheme_AdminIntenso_1.0/js/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css'
            'bundles/caciccommon/TwitterBootstrapTheme_AdminIntenso_1.0/js/bootstrap/docs/assets/js/google-code-prettify/prettify.css'
            'bundles/caciccommon/TwitterBootstrapTheme_AdminIntenso_1.0/js/jquery.ui.totop/css/ui.totop.css'
            'bundles/caciccommon/TwitterBootstrapTheme_AdminIntenso_1.0/js/DataTables/media/css/demo_table_jui.intenso.css'
            'bundles/caciccommon/TwitterBootstrapTheme_AdminIntenso_1.0/css/*'
            'bundles/caciccommon/jquery-modal-0.5.3/jquery.modal.css'
            'bundles/caciccommon/libs/Font-Awesome-3.2.1/css/font-awesome.min.css'
            'bundles/caciccommon/css/main.css'
       %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
         
        <link href="{{ asset('bundles/caciccommon/libs/googleapis.fonts.css') }}" rel="stylesheet">
        
    {% endblock %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <!-- Bootstrap CSS fixes for IE6 -->
    <!--[if lt IE 7]><link rel="stylesheet" href="{{ asset('bundles/caciccommon/libs/bootstrap-ie6.min.css') }}"><![endif]-->

    <!-- Font-awesome support for IE7 -->
    <!--[if IE 7]><link rel="stylesheet" href="{{ asset('bundles/caciccommon/libs/Font-Awesome-3.2.1/css/font-awesome-ie7.min.css') }}"><![endif]-->
    
  </head>

  <body id="cacic_backend"><!-- This id is used for the cookies -->
  	
    <!-- Top navigation bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-text"  style="margin-top: 0px;"><a href="{{ path('cacic_common_homepage') }}">CACIC v.{{ cacic_version }}</a></p>
            </div>

            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav navbar-left">
                    <!-- <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          {{ "Alertas"|trans }} <span class="label label-info">100</span>
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">CACIC</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{ "Alertas antigos..."|trans }}</a></li>
                    </ul>
              </li> -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i>
                            Configurações
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cacic_configuracao_padrao') }}">{{ 'Configurar Padrões'|trans }}</a></li>
                            {#  <li><a href="{{ path('cacic_configuracao_gerente') }}">{{ 'Configurar Gerente'|trans }}</a></li> #}
                            {# <li><a href="{{ path('cacic_configuracao_agente') }}">{{ 'Configurar Agentes'|trans }}</a></li> #}
                            <li class="divider"></li>
                            <li><a href="{{ path('cacic_modulo_index') }}">{{ "Configurar Módulos"|trans }}</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            {{ 'Meus Dados'|trans }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cacic_usuario_meus_dados') }}"><i class="icon-file"></i> {{ 'Meus Dados'|trans }}</a></li>
                            <li><a href="{{ path('cacic_usuario_trocar_propria_senha') }}" class="bt-trocar-propria-senha"><i class="icon-key"></i> {{ 'Alterar Senha'|trans }}</a></li>
                            <!-- 	<li><a href="javascript:void(0);"><i class="icon-heart"></i> {{ 'Editar Favoritos (Atalhos)'|trans }}</a></li> -->
                            <li class="divider"></li>
                            <li><a href="{{ path('cacic_common_logout') }}"><i class="icon-off"></i> {{ 'Sair'|trans }}</a></li>
                        </ul>
                    </li>
                </ul>

                <p class="navbar-text navbar-right" style="margin-top: 0px;"> {{ "Logado como"|trans }} <a href="{{ path('cacic_usuario_meus_dados') }}">{{ app.user.nmUsuarioAcesso }}</a></p>

            </div><!--/.nav-collapse -->




        </div>
      </div>
    </div>  
    
    <div class="container-fluid">
      <div class="row-fluid">
      <!-- side nav -->

<div id="side_nav" class="span2 sidebar-nav side_nav">
    <a href="{{ path('cacic_common_homepage') }}">
        <span id="logo" class="logo">&nbsp;</span>
    </a>
          {% block sidenav %}
          {% endblock %}
</div><!--/span-->



          
        <!-- main container -->
        <div class="span10">
        
        	<!-- Shortcut buttons -->
            <div class="row-fluid">

                <div class="span12 shortcut box-sizing-fix" id="main_container">
                    {% if bundleExists('CocarBundle') %}
                            <a href="{{ path('cocar_map') }}" class="btn btn-shortcut"><img src="{{ asset('bundles/cocar/images/cocar-logo-24.png') }}" alt="Dashboard" />
                                COCAR
                                <span class="label label-info">0</span>
                            </a>
                    {% endif %}
        		    <a href="{{ path('cacic_common_homepage') }}" class="btn btn-shortcut"><img src="{{ asset('bundles/caciccommon/images/v3/cacic_logo_gray.png') }}" alt="Dashboard" />
                        CACIC
                        <span class="label label-info box-sizing-fix">0</span>
                    </a>
                </div><!--/span-->

            </div>
            
            <!-- Breadcrumb -->
        	<div class="row-fluid">
                <div class="span12">
                <ul class="breadcrumb">
                  	<li><a href="{{ path('cacic_common_homepage') }}">CACIC</a></li>
                  	{% block breadcrumb %}
                  	    <li class="active">Home</li>
                  	{% endblock %}
                </ul>
                </div><!--/span-->
            </div>
            
            <!-- Loading AJAX -->
            <div id="ajaxLoading"></div>
            
            {% include '::message.html.twig' %}
            <!-- Content start -->
            {% block body %}{% endblock %}
            <!-- Content end -->
            
        </div><!--/span-->
      </div><!--/row-->
	  
      <!-- footer -->

    </div><!--/.fluid-container-->
    
    {% block javascripts %}
    
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (UI) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>

	{% javascripts output='assets/base.js' combine=true
	    '@CacicCommonBundle/Resources/public/TwitterBootstrapTheme_AdminIntenso_1.0/js/intenso/jquery.cookie.js'
        '@CacicCommonBundle/Resources/public/TwitterBootstrapTheme_AdminIntenso_1.0/js/jquery.ui.totop/js/jquery.ui.totop.js'
        '@bootstrap_js'
        '@CacicCommonBundle/Resources/public/TwitterBootstrapTheme_AdminIntenso_1.0/js/DataTables/media/js/jquery.dataTables.js'
        '@CacicCommonBundle/Resources/public/TwitterBootstrapTheme_AdminIntenso_1.0/js/intenso/jquery.hoverIntent.minified.js'
        '@CacicCommonBundle/Resources/public/TwitterBootstrapTheme_AdminIntenso_1.0/js/intenso/intenso.js'
        '@CacicCommonBundle/Resources/public/jquery-modal-0.5.3/jquery.modal.min.js'
        '@CacicCommonBundle/Resources/public/js/jquery.maskedinput-1.3.1.min.js'
        '@CacicCommonBundle/Resources/public/js/jquery.ui.datepicker-pt-BR.js'
        '@CacicCommonBundle/Resources/public/js/System.js'
        '@CacicCommonBundle/Resources/public/js/theme.js'
        '@CacicCommonBundle/Resources/public/js/init.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>

    {% endjavascripts %}
    
    <script type="text/javascript">
    /**
     * Mensagens do sistema
     */


    $(document).ready(function(){

        //$('.alert').hide();
        {% if app.session.flashbag.get('error')|length > 0 %}
            $('#msgErro').show();
        {% else %}
            $('#msgErro').hide();
        {% endif %}
        {% if app.session.flashbag.get('notice')|length > 0 %}
            $('#msgAviso').show();
        {% else %}
            $('#msgAviso').hide();
        {% endif %}
        {% if app.session.flashbag.get('success')|length > 0 %}
            $('#msgSucesso').show();
        {% else %}
            $('#msgSucesso').hide();
        {% endif %}
    });
    </script>
    
    {% endblock %}
    
    <!-- DIALOG (Modal) de confirmação de exclusão de item -->
    <div id="System_Excluir" title="Excluir">
	    <p>
	        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
	        {% block alertaExclusao %}
	        O <span id="excluir_item_desc">item</span> {{ 'será removido permanentemente e não poderá ser recuperado. Tem certeza que deseja continuar?'|trans }}
	        {% endblock %}
	    </p>
	</div>

    <!-- DIALOG (Modal) de confirmação de exclusão de item -->
    <div id="System_Ativar" title="Ativar">
      <p>
          <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
          {% block alertaAtivar %}
              O <span id="ativar_item_desc">item</span> {{ 'será ativado. Deseja prosseguir?'|trans }}
          {% endblock %}
      </p>
    </div>
	
	<!-- DIALOG (Modal) de troca de senha -->
	<div id="trocarPropriaSenha" title="{{ "Trocar Senha"|trans }}">
		<form id="frmTrocarPropriaSenha">
		<fieldset>
			<label for="troca_propria_senha_te_senha_atual">{{ "Senha Atual:"|trans }}</label>
			<input type="password" name="troca_propria_senha_te_senha_atual" id="troca_propria_senha_te_senha_atual" value="" class="text ui-widget-content ui-corner-all" />
			<label for="troca_propria_senha_te_senha_nova">{{ "Nova Senha:"|trans }}</label>
			<input type="password" name="troca_propria_senha_te_senha_nova" id="troca_propria_senha_te_senha_nova" value="" class="text ui-widget-content ui-corner-all" />
			<label for="troca_propria_senha_te_senha_nova_confirma">{{ "Confirmação:"|trans }}</label>
			<input type="password" name="troca_propria_senha_te_senha_nova_confirma" id="troca_propria_senha_te_senha_nova_confirma" value="" class="text ui-widget-content ui-corner-all" />
		</fieldset>
		</form>
	</div>
	
  </body>
</html>                        
