{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Faturamento'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-search"></i> {{'Faturamento mensal' |trans }}</h2>

                <div class="block box_content round_bottom padding_10">

                    <h4>{{ "Filtros para faturamento mensal"|trans }}</h4><br />

                    <form id="{{ 'formFaturamento'|trans }}" action="{{ path('cacic_relatorio_faturamento') }}" class="form-horizontal" method="POST" target="_blank">

                        <div class="control-group">
                            <label for="log_acesso_periodo"  class="control-label">{{ 'Período'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.dtAcaoInicio, { 'attr': {'class': 'datepicker_on'} }) }} a {{ form_widget(form.dtAcaoFim, { 'attr': {'class': 'datepicker_on'} }) }}
                                <p class="help-block">{{ "Informe o período no qual deseja realizar a faturar."|trans }}</p>
                            </div>
                        </div>

                        <div class="control-group _cad_block_opcao">
                            <label class="control-label">{{ 'Local'|trans }}</label>
							<div class="controls">


                                <input type="checkbox" class="toggleCheck" name="toggleCheck[]" value="id.Local" id="toggleLocal">
                                <label for="toggleLocal"><b>{{ 'Marcar/desmarcar tudo'|trans }}</b></label>
									<div style="height: 200px; overflow: auto;">

											<div class="modulo-opt-block">
											{{ form_widget(form.idLocal, {'form_type': 'horizontal'}) }}
											</div>
									</div>
							</div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button type="reset" class="btn">
                                    <i class="icon-refresh"></i>
                                    {{ "Resetar"|trans }}
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-search"></i>
                                    {{ 'Gerar relatório'|trans }}
                                </button>
                                <button type="submit" class="btn btn-success" formaction="{{ path('cacic_faturamento_csv') }}">
                                    <i class="icon-download-alt"></i>
                                    {{'Gerar CSV'|trans  }}
                                </button>
                                <button type="submit" class="btn btn-success" formaction="{{ path('cacic_arquivo_sgconf') }}">
                                    <i class="icon-search"></i>
                                    {{'Faturamento Serpro'|trans  }}
                                </button>
                            </div>
                        </div>

                    </form>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span8 -->

        <div class="span4">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-info-sign"></i> {{ "Informações Adicionais"|trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                    <p>
                        {{ "Faturamento"|trans }}.
                    </p>
                    <p>
                        {{ "O período é obrigatório"|trans }}.
                    </p>
                    <p>
                        {{ "Não selecionar nenhum valor em determinado critério é o mesmo que selecionar todos"|trans }}.
                    </p>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- span4 -->

    </div> <!-- /row -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        System.Form.toggleCheck(); // Ativa o monitoramento de Clique no checkbox para marcar/desmarcar todos
    </script>

{% endblock %}