{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <div class="box grad_colour_black">
            <h2 class="box_head round_top"><i class="icon-list"></i> {{'Total de estações sem coletas' |trans }}</h2>
            <div class="block box_content round_bottom padding_10">

				<h2 class="">{{ 'Relatório com total de máquinas sem coletas por subredes'|trans }}</h2>
                <h5 class="">{{ 'Período: '|trans }}{{data['dtAcaoInicio']|date("d/m/Y") }} a {{ data['dtAcaoFim']|date("d/m/Y") }}</h5>
				<h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("m/d/Y H\\hi") }}{% endif %}</h5>

                <br>
                <!--Botão CSV-->
                <a class="btn btn-primary" type="submit" href="{{ path('cacic_inativos_csv') }}" title="{{ "Máquinas sem coletas"|trans }}" target="_self">
                    <i class="icon-bar-chart"></i>
                    Gerar CSV
                </a>
                <!--Botão CSV -->

                <hr />

                {%  if logs|length %}

                  <form id="inativas" class="form-horizontal"  method="post" >

                    <table class="display datatable" id="datatable">
                        <thead>
                        <tr>
                            <th width="10%" style="text-align: center"></th>
                            <th width="20%">{{ "Local"|trans }}</th>
                            <th width="30%" style="text-align: center">{{ "Subrede"|trans }}</th>
                            <th width="20%" style="text-align: center">{{ "Endereço IP"|trans }}</th>
                            <th width="20%" style="text-align: center">{{ "Estações"|trans }}</th>
                            <th style="text-align: center"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for log in logs %}

                            <tr>
                                <td style="text-align: center">{{ loop.index }}</td>
                                <td>
                                    <b><a href="{{ path('cacic_relatorio_inativos_listar', {'idRede': log['idRede'], 'dtAcaoInicio': data['dtAcaoInicio'], 'dtAcaoFim': data['dtAcaoFim']}) }}"  title="{{ "Relatório de coletas do software"|trans }}" target="_blank">
                                    {{ log['nmLocal'] }}</a></b>
                                </td>
                                <td>{{ log['nmRede'] }}</td>
                                <td>{{ log['teIpRede'] }}</td>
                                <td>{{ log['numComp'] }}</td>
                                <td>
                                    <a class="btn" href="{{ path('cacic_relatorio_inativos_listar', {'idRede': log['idRede'], 'dtAcaoInicio': data['dtAcaoInicio'], 'dtAcaoFim': data['dtAcaoFim']}) }}"  title="{{ "Relatório de coletas do software"|trans }}" target="_blank">
                                        <i class="icon-search"></i>
                                    </a>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td style="text-align: center;" colspan="4"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                   </form>

                    <table class="display datatable" id="datatable">
                        <thead>
                        <tr>
                            <th width="77%" style="text-align: left">{{ "Total de Estações"|trans }}</th>
                            <th width="23%" style="text-align: center">{{ totalnumcomp }}</th>
                        </tr>
                        </thead>
                    </table>
                {% else %}
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="10%" style="text-align: center"></th>
                            <th width="20%">{{ "Local"|trans }}</th>
                            <th width="30%" style="text-align: center">{{ "Subrede"|trans }}</th>
                            <th width="20%" style="text-align: center">{{ "Endereço IP"|trans }}</th>
                            <th width="20%" style="text-align: center">{{ "Estações"|trans }}</th>
                            <th style="text-align: center"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td style="text-align: center;" colspan="6"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

			</div> <!-- /block -->
        </div> <!-- /box -->
    </div> <!-- /span -->
</div> <!-- /row -->

{% endblock %}