{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

	<h2>{{ 'Relatório de máquinas da subrede '|trans }} {{ rede }}</h2>
	<h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("d/m/Y H\\hi") }}{% endif %}</h5>

	<hr />

    <!--Botão CSV -->
        <a class="btn btn-primary" type="submit" href="{{ path('cacic_faturamento_listar_csv',{'idRede':idRede,'dataInicio':dtAcaoInicio|trim,'dataFim':dtAcaoFim|trim})}}" title="{{ "Máquinas faturadas"|trans }}" target="_self">
            <i class="icon-bar-chart"></i>
            Gerar CSV
        </a>
    <!--Botão CSV -->

    <table class="display datatable" id="datatable">
		<thead>
		<tr>
                        <th width="5%" style="text-align: center"></th>
			<th width="15%">{{ "Computador"|trans }}</th>
			<th width="10%">{{ "MAC Address"|trans }}</th>
			<th width="10%">{{ "Endereço IP"|trans }}</th>
			<th width="10%">{{ "Sistema Operacional"|trans }}</th>
			<th width="10%">{{ "Local"|trans }}</th>
			<th width="20%">{{ "Subrede"|trans }}</th>
			<th>{{ "Data/Hora da Última coleta"|trans }}</th>
		</tr>
		</thead>

		<tbody>

        {% for reg in dados %}
			<tr>
				            <td style="text-align: center">{{ loop.index }}</td>
				<td>
					<b><a href="{{ path('cacic_computador_detalhar') }}/{{ reg.idComputador }}" title="{{ "Todas as informações do computador"|trans }}" target="_blank">{{ reg.nmComputador }}</a></b>
				</td>
				<td><a href="{{ path('cacic_computador_detalhar') }}/{{ reg.idComputador }}" title="{{ "Todas as informações do computador"|trans }}" target="_blank">{{ reg.teNodeAddress }}</a></td>
				<td><a href="{{ path('cacic_computador_detalhar') }}/{{ reg.idComputador }}" title="{{ "Todas as informações do computador"|trans }}" target="_blank">{{ reg.teIpComputador }}</a></td>
				<td><span class="{% if reg.inMswindows == 'S' %}red{% else %}blue{% endif %}">{{ reg.sgSo }}</span></td>
				<td>{{ reg.nmLocal }}</td>
				<td>{{ reg.nmRede }} / {{ reg.teIpRede }}</td>
				<td>{{ reg.data|date(' d, M, Y H:m:s') }}</td>
			</tr>
		{% else %}
			<tr>
				<td style="text-align: center" colspan="7"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
			</tr>
		{% endfor %}

		</tbody>
	</table>

{% endblock %}
