{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Usuário Logado'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-search"></i> {{ 'Relatório de usuário logado' |trans }}
                </h2>

                <div class="block box_content round_bottom padding_10">

                    <form id={{ 'formUserPesquisa'|trans }} action="{{ path('cacic_relatorio_usuario_detalhar') }}" class="form-horizontal" method="POST" target="_blank">

                        <div class="control-group">
                            <label for="log_acesso_periodo" class="control-label col-sm-2 label-required">{{ 'Período'|trans }}</label>
                            <div class="col-sm-8 control-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        {{ form_widget(form.dtAcaoInicio, { 'attr': {'class': 'datepicker_on'} }) }}
                                    </div>
                                    <div class="col-xs-1">
                                        <span>a</span>
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_widget(form.dtAcaoFim, { 'attr': {'class': 'datepicker_on'} }) }}
                                    </div>
                                </div>
                                <p class="help-block">{{ "Informe o período no qual deseja realizar a pesquisa."|trans }}</p>
                            </div>
                        </div>

                        <hr>
                        <h4>{{ "Informações estáticas"|trans }}</h4><br/>

                        {{ form_row(form.nmComputador) }}

                        {{ form_row(form.teIpComputador) }}

                        {{ form_row(form.teNodeAddress) }}

                        {{ form_row(form.usuarioPatrimonio) }}

                        {{ form_row(form.usuarioName) }}

                        {{ form_row(form.coordenacao) }}

                        {{ form_row(form.sala) }}


                        <div class="control-group _cad_block_opcao">
                            <label class="control-label col-sm-2">{{ 'Local'|trans }}</label>
                            <div class="col-sm-8">

                                <input type="checkbox" class="toggleCheck" name="toggleCheck[]" value="idLocal" id="toggleLocal">
                                <label for="toggleLocal"><b>{{ 'Marcar/desmarcar tudo'|trans }}</b></label>

                                <div class="modulo-opt-block">
                                    {{ form_widget(form.idLocal, {'form_type': 'horizontal'}) }}
                                </div>

                            </div>
                        </div>


                        <hr>
                        <h4>{{ "Informações dinâmicas"|trans }}</h4><br/>


                        {{ form_row(form.usuarioLogado) }}

                        {{ form_row(form.macCompDinamico) }}

                        {{ form_row(form.ipCompDinamico) }}

                        {{ form_rest(form) }}


                        <div class="control-group">
                            <div class="controls">
                                <button type="reset" class="btn">
                                    <i class="icon-refresh"></i>
                                    {{ "Resetar"|trans }}
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-search"></i>
                                    {{ 'Gerar relatório'|trans }}
                                </button>
                                {#
                                <button type="submit" class="btn btn-success" formaction="{{ path('cacic_relatorio_usuario_csv_dinamico') }}">
                                    <i class="icon-download-alt"></i>
                                    {{'Gerar CSV dinamico completo'|trans  }}
                                </button>
                                #}
                            </div>
                        </div>

                    </form>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span8 -->

        <div class="span4">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-info-sign"></i> {{ "Informações Adicionais"|trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                    <p>
                        {{ "Nesta consulta o possível obter um relatório contendo o registro do último usuário logado na estação de acordo com o patrimônio (estático) e log do usuário (dinâmico)"|trans }}
                        .
                    </p>
                    <p>
                        {{ "O campos PERIODO e pelo menos mais 1 descrito abaixo são de preenchimento obrigatório para a realização da consulta"|trans }}
                        .
                    </p>
                    <p>
                        {{ "Não selecionar nenhum valor em LOCAL é o mesmo que selecionar todos"|trans }}.
                    </p>
                    <p>
                        {{ "As informações Estáticas são o conjunto de informações da coleta de patrimônio que não são passiveis de alterações constante, já a infomração dinâmica refere-se ao usuário que se encontra logado na estação no momento da coleta. Não sendo necessáriamente o mesmo usuário contido nas informações patrimoniais"|trans }}
                        .
                    </p>
                    <p>
                        {{ "Ao preencher uma informação do usuário dinâmico automáticamente estará realizando a busca no relatório dinâmico."|trans }}
                        .
                    </p>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- span4 -->

    </div> <!-- /row -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        System.Form.toggleCheck(); // Ativa o monitoramento de Clique no checkbox para marcar/desmarcar todos

    </script>

{% endblock %}