{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

	<h2>{{ 'Relatório de usuário logado -'|trans }} {{ usuario }}</h2>
    <h5 class="">{{ 'Período: '|trans }}{{ dtAcaoInicio|date("d/m/Y") }} a {{ dtAcaoFim|date("d/m/Y") }}</h5>
    <h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("d/m/Y H\\hi") }}{% endif %}</h5>
    <hr />

    <!--Botão CSV -->
        <a class="btn btn-primary" type="submit" href="{{ path('cacic_relatorio_usuario_csv',{'dataInicio':dtAcaoInicio|trim,'dataFim':dtAcaoFim|trim})}}" title="{{ "Máquinas faturadas"|trans }}" target="_self">
            <i class="icon-bar-chart"></i>
            Gerar CSV
        </a>
    <!--Botão CSV -->

    <P />

    {% if dados %}

    <table class="display datatable" id="datatable">

        <thead>
		<tr>
			<th width="8%">{{ "Computador"|trans }}</th>
			<th width="8%">{{ "MAC Address"|trans }}</th>
			<th width="8%">{{ "Endereço IP"|trans }}</th>
			<th width="8%">{{ "Sistema Operacional"|trans }}</th>
			<th width="8%">{{ "Local"|trans }}</th>
			<th width="8%">{{ "Subrede"|trans }}</th>
            <th width="8%">{{ "Usuário"|trans }}</th>
            <th width="8%">{{ "Usuário Patrimônio"|trans }}</th>
            <th width="8%">{{ "Usuário Name"|trans }}
            <th width="8%">{{ "Usuário Coordenacao"|trans }}</th>
            <th width="8%">{{ "Usuário Sala"|trans }}</th>
            <th width="8%">{{ "Data/Hora da Última coleta"|trans }}</th>
		</tr>
		</thead>

		<tbody>
            {% for reg in dados %}
            {% set computadores = reg.idComputador|split(',') %}
            {% set nomes = reg.nmComputador|split(',') %}
            {% set ips = reg.teIpComputador|split(',') %}
			<tr>
				<td>
                    {% for comp in nomes %}
					    <b><a href="{{ path('cacic_faturamento_computador', {'nmComputador' : comp|trim }) }}" title="{{ 'Detalhar computador'|trans }}" target="_blank">{{ comp }}</a></b>
                    {% else %}
                        <b>{{ reg.nmComputador }}</b>
                    {% endfor %}
				</td>
				<td><a href="{{ path('cacic_faturamento_computador', {'teNodeAddress' : reg.teNodeAddress|trim }) }}" title="{{ 'Detalhar computador'|trans }}" target="_blank">{{ reg.teNodeAddress }}</a></td>
                <td>
                    {% for comp in ips %}
                        <b><a href="{{ path('cacic_faturamento_computador', {'teIpComputador' : comp|trim }) }}" title="{{ 'Detalhar computador'|trans }}" target="_blank">{{ comp }}</a></b>
                    {% else %}
                        <b>{{ reg.teIpComputador }}</b>
                    {% endfor %}
                </td>
				<td>{{ reg.sgSo }}</td>
				<td>{{ reg.nmLocal }}</td>
				<td>{{ reg.nmRede }} / {{ reg.teIpRede }}</td>
                <td>{{ reg.usuario }}</td>
                <td>{{ reg.usuarioPatrimonio }}</td>
                <td>{{ reg.usuarioName }}</td>
                <td>{{ reg.coordenacao }}</td>
                <td>{{ reg.sala }}</td>
                <td>{{ reg.data|date(' d, M, Y H:m:s') }}</td>
			</tr>

		    {% endfor %}
		</tbody>
	</table>

    {% else %}

        <div class="row-fluid">
            <table class="table table-striped">
                <tr><td colspan="3" style="text-align: center"><b>{{ 'NENHUM REGISTRO ENCONTRADO'|trans }}</b></td></tr>
            </table>
        </div>

    {% endif %}

{% endblock %}
