{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Usuário Logado'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-search"></i> {{'Relatório de usuário logado' |trans }}</h2>

                <div class="block box_content round_bottom padding_10">

                    <form id={{ 'formUserPesquisa'|trans }} action="{{ path('cacic_relatorio_usuario_detalhar') }}" class="form-horizontal" method="POST" target="_blank">

                        <div class="control-group">
                            <label for="log_acesso_periodo"  class="control-label">{{ 'Período'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.dtAcaoInicio, { 'attr': {'class': 'datepicker_on'} }) }} a {{ form_widget(form.dtAcaoFim, { 'attr': {'class': 'datepicker_on'} }) }}
                                <p class="help-block">{{ "Informe o período no qual deseja realizar a faturar."|trans }}</p>
                            </div>
                        </div>

                        <hr>
                        <h4>{{ "Informações estáticas"|trans }}</h4><br />

                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'Nome do Computador'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.nmComputador) }}
                            </div>
                        </div>

                        <div class="control-group" >
                                <label for="UserPesquisa"  class="control-label">{{ 'IP do Computador'|trans }}</label>
                                <div class="controls">
                                    {{ form_widget(form.teIpComputador) }}
                                </div>
                            </div>

                            <div class="control-group" >
                                <label for="UserPesquisa"  class="control-label">{{ 'MAC Address'|trans }}</label>
                                <div class="controls">
                                    {{ form_widget(form.teNodeAddress) }}
                                </div>
                            </div>

                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'Nome do Responsável'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.usuarioPatrimonio) }}
                            </div>
                        </div>

                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'CPF do Responsável'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.usuarioName) }}
                            </div>
                        </div>

                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'Coordenação do Responsável'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.coordenacao) }}
                            </div>
                        </div>

                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'Sala do Responsável'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.sala) }}
                            </div>
                        </div>

                        <div class="control-group _cad_block_opcao">
                            <label class="control-label">{{ 'Local'|trans }}</label>
                            <div class="controls">
                                <input type="checkbox" class="toggleCheck" name="toggleCheck[]" value="id.Local" id="toggleLocal">
                                <label for="toggleLocal"><b>{{ 'Marcar/desmarcar tudo'|trans }}</b></label>
                                <div style="height: 165px; overflow: auto;">
                                    <div class="modulo-opt-block">
                                        {{ form_widget(form.idLocal, {'form_type': 'horizontal'}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                            <hr>
                        <h4>{{ "Informações dinâmicas"|trans }}</h4><br />

                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'Usuário Logado'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.usuarioLogado) }}
                            </div>
                        </div>
                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'MAC Address'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.macCompDinamico) }}
                            </div>
                        </div>
                        <div class="control-group" >
                            <label for="UserPesquisa"  class="control-label">{{ 'IP do Computador'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.ipCompDinamico) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button type="reset" class="btn">
                                    <i class="icon-refresh"></i>
                                    {{ "Resetar"|trans }}
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-search"></i>
                                    {{ 'Gerar relatório'|trans }}
                                </button>

                                <button type="submit" class="btn btn-success" formaction="{{ path('cacic_relatorio_usuario_csv') }}">
                                    <i class="icon-download-alt"></i>
                                    {{'Gerar CSV Estático'|trans  }}
                                </button>

                                <button type="submit" class="btn btn-success" formaction="{{ path('cacic_relatorio_usuario_csv_dinamico') }}">
                                    <i class="icon-download-alt"></i>
                                    {{'Gerar CSV Usuário Dinâmico'|trans  }}
                                </button>
                            </div>
                        </div>

                    </form>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span8 -->

        <div class="span4">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-info-sign"></i> {{ "Informações Adicionais"|trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                    <p>
                        {{ "Nesta consulta o possível obter um relatório contendo o registro do último usuário logado na estação"|trans }}.
                    </p>
                    <p>
                        {{ "O campos PERIODO e USUARIO são de preenchimento obrigatório para a realização da consulta"|trans }}.
                    </p>
                    <p>
                        {{ "Não selecionar nenhum valor em LOCAL é o mesmo que selecionar todos"|trans }}.
                    </p>
                    <p>
                        {{ "As informações Estáticas são o conjunto de informações básicas que não são passiveis de alterações constante, já a infomração dinâmica refere-se ao usuário que se encontra logado na estação no momento da coleta. Não sendo necessáriamente o mesmo usuário contido nas informações patrimoniais"|trans }}.
                    </p>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- span4 -->

    </div> <!-- /row -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        System.Form.toggleCheck(); // Ativa o monitoramento de Clique no checkbox para marcar/desmarcar todos
    </script>

{% endblock %}