{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

	<h2>{{ 'Relatório de Usuário Logado Dinâmico'|trans }}</h2>
    {% if semData == 'S' %}
        <h4 class="">{{ 'Histórico do usuário logado: '|trans }} {{ usuarioLogado|trans }}</h4>
    {% else %}
        <h4 class="">{{ 'Histórico do usuário logado: '|trans }} {{ usuarioLogado|trans }}</h4>
        <h5 class="">{{ 'Período: '|trans }}{{ dtAcaoInicio|date("d/m/Y") }} a {{ dtAcaoFim|date("d/m/Y") }}</h5>
    {% endif %}
    <h5>{{ 'Relatório gerado em: '|trans }}{{ "now"|date("d/m/Y H\\hi") }}</h5>
    <hr />
    <P />

    {% if dados|keys %}

    <table class="display datatable" id="datatable">

        <thead>
		<tr>
			<th width="10%">{{ "Computador"|trans }}</th>
			<th width="10%">{{ "MAC Address"|trans }}</th>
			<th width="10%">{{ "Endereço IP"|trans }}</th>
			<th width="10%">{{ "Local"|trans }}</th>
            <th width="10%">{{ "Subrede"|trans }}</th>
            <th width="10%">{{ "CPF do Responsável"|trans }}</th>
            <th width="10%">{{ "Data Pop-up"|trans }}</th>
            <th width="10%">{{ "Usuário Logado"|trans }}</th>
            <th width="10%">{{ "Data Login"|trans }}</th>
            <th>{{ "Ações"|trans }}</th>
        </tr>
		</thead>

		<tbody>
            {% for reg in dados %}
                <tr>
                    <td>{{ reg['nm_computador']}}</td>
                    <td>{{ reg['te_node_address'] }}</td>
                    <td>{{ reg['te_ip_computador']}}</td>
                    <td>{{ reg['nm_local'] }}</td>
                    <td>{{ reg['nm_rede'] }}</td>
                    <td>{{ reg['te_class_property_value'] }}</td>
                    <td>{{ reg['data_popup']|date('r') }}</td>
                    <td>{{ reg['usuario'] }}</td>
                    <td>{{ reg['data']|date('r') }}</td>
                    <td>
                        <a href="{{ path('cacic_computador_detalhar', {'id_computador': reg['id_computador']}) }}" target="_blank" title="{{ "Detalhes do computador"|trans }}">
                            <i class="icon-search"></i>
                        </a>
                    </td>
                </tr>

		    {% endfor %}
		</tbody>
	</table>

    {% else %}

        <div class="row-fluid">
            <table class="table table-striped">
                <tr><td colspan="3" style="text-align: center"><b>{{ 'NENHUM REGISTRO ENCONTRADO'|trans }}</b></td></tr>
            </table>
        </div>

    {% endif %}

{% endblock %}
