{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/caciccommon/js/jquery.maskedinput-1.3.1.min.js') }}" type="text/javascript" language="javascript"></script>
{% endblock %}
{% block body %}

    <div class="page-header">
        <h1>SubRede
            <small>Dados das SubRedes</small></h1>
    </div>

    <div class="well">

        <form id="formRede" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>

            {{ form_row(form.local) }}
            {{ form_row(form.servidorAutenticacao) }}
            {{ form_row(form.teIpRede) }}
            {{ form_row(form.nmRede) }}
            {{ form_row(form.teMascaraRede) }}
            {{ form_row(form.teServCacic) }}
            {{ form_row(form.selTeServCacic) }}
            {{ form_row(form.teServUpdates) }}
            {{ form_row(form.selTeServUpdates) }}
            {{ form_row(form.nuPortaServUpdates) }}
            {{ form_row(form.nuLimiteFtp) }}
            {{ form_row(form.nmUsuarioLoginServUpdates) }}
            {{ form_row(form.teSenhaLoginServUpdates) }}
            {{ form_row(form.nmUsuarioLoginServUpdatesGerente) }}
            {{ form_row(form.teSenhaLoginServUpdatesGerente) }}
            {{ form_row(form.tePathServUpdates) }}
            {{ form_row(form.teObservacao) }}
            {{ form_row(form.nmPessoaContato1) }}
            {{ form_row(form.nuTelefone1) }}
            {{ form_row(form.teEmailContato1) }}
            {{ form_row(form.nmPessoaContato2) }}
            {{ form_row(form.nuTelefone2) }}
            {{ form_row(form.teEmailContato2) }}
            <h3>Marcar todas as ações para essa rede:<small>Essa opção habilitará as ações de auto-update e coletas nas estações situadas nesta rede.</small></h3>
            {{ form_row(form.habilitar) }}
            <h3>Permitir finalização de sessões do módulo srCACIC:<small>Essa opção define se o usuário final poderá ou não finalizar execuções do módulo srCACIC (Suporte Remoto Seguro). </small></h3>
            {{ form_row(form.csPermitirDesativarSrcacic) }}
            <h3>Selecao para coleta de informacoes de sistemas monitorados: <small>Essa opcao permite a selecao de coletas de informacoes de sistemas monitorados para essa rede. </small></h3>
            {{ form_row(form.idAplicativo) }}
            {{ form_rest(form) }}

            <div class="form-opcoes">
                <input type="reset" value="Limpar Valores" class="btn btn-small" />
                <input type="submit" value="Salvar Dados" class="btn btn-primary btn-small" />
            </div>

        </form>

    </div>

    <div >
        <a class="btn btn-danger btn-small"  href="{{ path('cacic_subrede_index') }}">Cancelar</a>
    </div>

    <script type="text/javascript">
    $( '#formRede' ).submit(function(){
    $( '#rede_idServidorAutenticacao' ).val( $( '#rede_servidorAutenticacao' ).val() );
        $( '#rede_idLocal' ).val( $( '#rede_local' ).val() );
    return true;
    });

    </script>

{% endblock %}