{% extends '::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ "Subredes"|trans }}</li>
{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span12">
    <div class="box grad_colour_black">

      <h2 class="box_head round_top"><i class="icon-sitemap"></i> {{ "Subredes"|trans }}</h2>

       <div class="block box_content round_bottom padding_10">

        <h3>{{ "Lista de Subredes cadastrados"|trans }}</h3>
        <p>{{ "Neste módulo deverão ser cadastrados as Subredes do sistema"|trans }}</p>
        <br />

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="10%">{{ "Endereço"|trans }}<br />{{ "Máscara"|trans }}</th>
                <th width="10%">{{ "Subrede"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Local"|trans }}</th>
                <th width="5%" style="text-align: center">{{ "Máquinas"|trans }}</th>
                <th width="5%" style="text-align: center">{{ "Autenticação"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Aplicação"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Atualização"|trans }}</th>
                <th style="text-align: center">{{ "Ações"|trans }}</th>
            </tr>
            </thead>

            <tbody>

            {% for rede in rede %}

                <tr id="item_{{ rede[0]['idRede'] }}" class="{{ cycle(['row0', 'row1'], loop.index) }}">
                    <td>{{ rede[0]['teIpRede'] }}/{{ rede[0]['teMascaraRede'] }}</td>
                    <td id="item_desc_{{ rede[0]['idRede'] }}">{{ rede[0]['nmRede'] }}</td>
                    <td style="text-align: center">{{ rede['local']}}</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">{{ rede[0]['teServCacic'] }}</td>
                    <td style="text-align: center">{{ rede[0]['teServUpdates'] }}</td>
                    <td class="td-actions">
                        <a href="{{ path('cacic_subrede_editar', {'idRede': rede[0]['idRede']}) }}" class="btn btn-small" title="{{ "Editar Item"|trans }}">
                            <i class="btn-icon-only icon-edit icon-large"></i>
                        </a>

                        <a href="{{ path('cacic_subrede_excluir') }}" class="btn btn-small btn-danger bt-excluir" title="{{ "Excluir Item"|trans }}">
                            <i class="btn-icon-only icon-trash icon-large"></i>
                        </a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td style="text-align: center" colspan="8"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
            <div align="right">
                <a class="btn btn-primary bt-adicionar" href="{{ path('cacic_subrede_cadastrar') }}">
                    <i class="icon-plus-sign"></i>
                    {{ "Adicionar Subrede"|trans }}
                </a>
            </div>
       </div> <!-- /block -->
    </div><!-- /box -->

  </div><!-- /span -->
</div><!-- /row -->
{% endblock %}