{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ "Sub-redes"|trans }}</li>
{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span12">
    <div class="box grad_colour_black">

      <h2 class="box_head round_top"><i class="icon-sitemap"></i> {{ "Sub-redes"|trans }}</h2>

       <div class="block box_content round_bottom padding_10">

        <h3>{{ "Lista de Sub-redes cadastrados"|trans }}</h3>
        <p>{{ "Neste módulo deverão ser cadastrados as Sub-redes do sistema"|trans }}</p>
        <br />

           <table class="display datatable" id="datatable">
            <thead>
            <tr>
                <th width="5%">{{ "Endereço"|trans }}/{{ "Máscara"|trans }}</th>
                <th width="10%">{{ "Sub-rede"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Local"|trans }}</th>
                <th width="5%" style="text-align: center">{{ "Máquinas"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Autenticação"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Aplicação"|trans }}</th>
                <th width="10%" style="text-align: center">{{ "Atualização"|trans }}</th>
                <th width="12%" style="text-align: center">{{ "Ações"|trans }}</th>
            </tr>
            </thead>

            <tbody>

            {% for rede in rede %}

                <tr id="item_{{ rede['idRede'] }}" class="{{ cycle(['row0', 'row1'], loop.index) }}">
                    <td>{{ rede['teIpRede'] }}/{{ rede['teMascaraRede']}}</td>
                    <td id="item_desc_{{ rede['idRede'] }}">{{ rede['nmRede'] }}</td>
                    <td style="text-align: center">{{ rede['sgLocal']}}</td>
                    <td style="text-align: center">{{ rede['numComp'] }}</td>
                    <td style="text-align: center">{{ rede['nmServidorAutenticacao'] }}</td>
                    <td style="text-align: center">{{ rede['teServCacic'] }}</td>
                    <td style="text-align: center">{{ rede['teServUpdates'] }}</td>
                    <td class="td-actions">
                        <a href="{{ path('cacic_subrede_editar', {'idRede': rede['idRede'] }) }}" class="btn btn-small" title="{{ "Editar Item"|trans }}">
                            <i class="btn-icon-only icon-edit icon-large"></i>
                        </a>

                        <a href="{{ path('cacic_subrede_excluir') }}" class="btn btn-small btn-danger bt-excluir" title="{{ "Excluir Item"|trans }}">
                            <i class="btn-icon-only icon-trash icon-large"></i>
                        </a>
                        <a href="javascript: void(0);"  class="btn btn-small btn-success bt-vincular" title="{{ "Vincular UOR's"|trans }}">
                            <i class="icon-cog icon-large"></i>
                        </a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td style="text-align: center" colspan="8"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

            <div align="right">
                <a class="btn btn-primary bt-adicionar" href="{{ path('cacic_subrede_cadastrar') }}">
                    <i class="icon-plus-sign"></i>
                    {{ "Adicionar Subrede"|trans }}
                </a>
            </div>
       </div> <!-- /block -->
    </div><!-- /box -->

  </div><!-- /span -->
</div><!-- /row -->
    <!-- Modal para Vincular UORG's -->
    <div id="vincularUORGs" title="{{ "Vincular UORG's"|trans }}" >   </div>

{% endblock %}


{% block stylesheets %}

	{{ parent() }}

	<link href="{{ asset('bundles/caciccommon/jqTree-0.15/jqtree.css') }}" type="text/css" rel="stylesheet" media="screen" />

	<style type="text/css">
		#tree_uorg0 {
			color: #000;
			font-size: 14pt;
			font-weight: bold;
			margin-left: 25px;
		}
		#tree_uorg0 li.jqtree_common {
			line-height: 20pt;
			margin-left: 25px;
		}
	</style>

{% endblock %}


{% block javascripts %}

    {{ parent() }}


	<script type="text/javascript" src="{{ asset('bundles/caciccommon/jqTree-0.15/tree.jquery.js') }}"></script>

	<script type="text/javascript">

        $( ".bt-vincular" ).click(function(){

            var senha = $( '#uorg' ).val();

            $( "#vincularUORGs" ).dialog({
                autoOpen: true,
                height: 550,
                width: 550,
                modal: true,
                buttons: {
                    "Salvar" : function(){
                        var params = {
                            'id' : $( this ).data( 'id' ),
                            'uorg' :$( this ).data( 'val' )

                        };
                        $( this ).dialog( "close" );
                        $.ajax(
                                {
                                    type: "POST",
                                    url: "{{ path('cacic_subrede_vincular') }}",
                                    cache: false,
                                    async: false,
                                    success: function( data )
                                    {
                                        System.Flash.show( 'Sucesso', 'Vinculação realizada com sucesso!' );
                                    },
                                    error: function( data )
                                    {
                                        System.Flash.show( 'Erro', 'Erro na solicitação' );
                                    },
                                    data: params
                                }
                        );

                        $( this ).dialog( "close" );
                    },
                    "Cancelar" : function(){
                        $( this ).dialog( "close" );
                    }
                },
                show: { effect: "fade", duration: 500 },
                hide: { effect: "fade", duration: 500 },
                open: function(event,ui){
                    // Impede que o overlay trave a tela
                    $('.ui-widget-overlay').addClass('overlay-hidden');
                },
                beforeClose: function(event,ui){
                    $('.ui-widget-overlay').removeClass('overlay-hidden');
                },
                close: function( event, ui ){
                    // Limpa os campos do formulário

                }

            });

            var id = $( this ).parent().parent().attr( 'id' ).replace( /.*?(\d+)$/, '$1' );

            $( "#vincularUORGs" ).data( 'id', id ).dialog( "open" );


            var _dados = [ // Unidades de primeiro nível
                {% for uorg in uorgs %}
                    {
                        label: '{{ uorg.nmUorg }}',
                        id: {{ uorg.idUorg }},
                        rede: {% if uorg.idRede > 0%}{{ uorg.idRede }}{% else %}0{% endif %},
                        filha: {{ uorg.numFilhas }},
                        load_on_demand: {% if uorg.numFilhas  %}true {% else %}false{% endif %}

                    }{% if loop.last != true %},{% endif %}

                {% endfor %}
            ];

            $(function() {
                $('#vincularUORGs').tree({
                    data: _dados,
                    dataUrl: function( node ) {
                        return '{{ path('cacic_uorg_loadnodes') }}/'+ node.id +'';
                    },
                    onCreateLi: function(node, $li) {
                            if(node.filha <= 0){
                                if(node.rede == id){
                                    var _acoesNode =  ' <a onclick="('+ node.id +');"> <input type="checkbox" checked name="uorg" value="'+node.id+'" /></a> '
                                }else{
                                    var _acoesNode =  ' <a onclick="('+ node.id +');"> <input type="checkbox" name="uorg" value="'+node.id+'" /></a> '
                                }
                            }

                            if(node.filho <= 0){
                                if(node.rede == id){
                                    var _acoesNode =  ' <a onclick="('+ node.id +');"> <input type="checkbox" checked name="uorg" value="'+node.id+'" /></a> '
                                }else{
                                    var _acoesNode =  ' <a onclick="('+ node.id +');"> <input type="checkbox" name="uorg" value="'+node.id+'" /></a> '
                                }
                            }

                        $li.find('span.jqtree-title').after( _acoesNode );

                        // Substitui a "seta" indicadora de existência de filhos
                        //$li.find('a.jqtree-toggler').html('<i class="icon-folder-close-alt"></i>');
                    },
                    autoEscape: false
                });
            });
            $(function(){
                $('#vincularUORGs').click(function(){
                    var val = [];
                    $(':checkbox:checked').each(function(i){
                        val[i] = $(this).val();

                    });
                    $( this).data(  'val', val).dialog( "open" );
                });
            });

        });
    </script>
{% endblock %}
