{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Locais<small>Lista de locais cadastrados</small></h1>
</div>

<div class="well">

	<table class="paginacao" cellpadding="2" cellspacing="0" width="100%" align="center">
		<tr>
			<td align="left"></td>
			<td align="right"></td>
		</tr>
	</table>
	
	<table class="list">
		<thead>
	    <tr>
		    <th width="15%">Sigla</th>
		    <th width="40%">Descrição</th>
		    <th width="10%" style="text-align: center">Redes</th>
		    <th width="10%" style="text-align: center">Usuários<br />Primários</th>
		    <th width="10%" style="text-align: center">Usuários<br />Secundários</th>
			<th style="text-align: center">Ações</th>
	    </tr>
		</thead>
		
	  	<tbody>
		
	    {% for local in locais %}
	    
	    <tr id="item_{{ local[0]['idLocal'] }}" class="{{ cycle(['row0', 'row1'], loop.index) }}">
		    <td>{{ local[0]['sgLocal'] }}</td>
		    <td id="item_desc_{{ local[0]['idLocal'] }}">{{ local[0]['nmLocal'] }}</td>
		    <td style="text-align: center">{{ local['numRedes']}}</td>
		    <td style="text-align: center">{{ local['numUsuariosPrimarios'] }}</td>
		    <td style="text-align: center"></td>
			<td style="text-align: center">
				<a href="{{ path('cacic_local_editar', {'idLocal': local[0]['idLocal']}) }}">
					<img src="{{ asset('bundles/caciccommon/images/v3/bt_edit.png') }}" hspace="5" border="0" alt="Editar Item" title="Editar Item"  /></a>
				
				<img src="{{ asset('bundles/caciccommon/images/v3/bt_del.png') }}" alt="Excluir Item" title="Excluir Item" class="bt-excluir" id="bt-excluir-{{ local[0]['idLocal'] }}" />
			</td>
	    </tr>
	    
	    {% else %}
	    <tr>
			<td align="center" colspan="6"><b>NENHUM REGISTRO ENCONTRADO!</b></td>
		</tr>
		{% endfor %}
	    
	  </tbody>
	</table>
	
</div>

<div align="right">
	<a class="btn btn-primary btn-small bt-adicionar" href="{{ path('cacic_local_cadastrar') }}">Adicionar Local</a>
</div>

<script type="text/javascript">

	$( ".bt-excluir" ).click( function() {
		var id = $(this).attr('id').replace(/.*?(\d+)$/, '$1');
		
		if( confirm ( "Deseja excluir \"" + $( "#item_desc_" + id ).text() + "\" ?" ) )
		{
			var parameters = "idLocal="+id;
			
			$.ajax(
				{
					type: "POST",
					url: "{{ path( 'cacic_local_excluir' ) }}",
					cache: false,
					async: false,
					success: function( data )
								{
									$('#msgSucesso').text( 'Item excluído com sucesso!' ).fadeIn();
									$( '#item_' + id ).fadeOut();
								},
					error: function( data )
								{
									alert( 'Erro! Não foi possível realizar a solicitação!' );
								},
					data: parameters
				}
			);
		}
		
	});

</script>
	
{% endblock %}