
<h5>{{ "Resultado da pesquisa"|trans }}</h5>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="5%" style="text-align: center"></th>
        <th width="20%">{{ "Data"|trans }}</th>
        <th width="10%">{{ "Operação"|trans }}</th>
        <th width="10%">{{ "Tabela"|trans }}</th>
        <th width="10%">{{ "Programa(.php)"|trans }}</th>
        <th width="10%">{{ "Usuário"|trans }}</th>
        <th width="20%">{{ "Endereço IP"|trans }}</th>
    </tr>
    </thead>

    <tbody>

    {% for log in logs %}

        <tr id="item_{{ log[0]['idLog'] }}">
            <td style="text-align: center">{{ loop.index }}</td>
            <td id="item_desc_{{ log[0]['idLog'] }}">{{ log[0].dtAcao|date('d/m/Y H:i') }}</td>
            <td>{{ log[0]['csAcao'] }}</td>
            <td>{{ log[0]['nmTabela'] }}</td>
            <td>{{ log[0]['nmScript'] }}</td>
            <td>{{ log['nmUsuarioCompleto'] }}/{{ log['nmLocal'] }}</td>
            <td>{{ log[0]['teIpOrigem'] }}</td>
        </tr>

    {% else %}
        <tr>
            <td style="text-align: center;" colspan="7"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<h3>{{ "Resumo das Operações"|trans }}</h3>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="5%" style="text-align: center"></th>
        <th width="20%">{{ "Operação"|trans }}</th>
        <th width="10%">{{ "Quantidade"|trans }}</th>
        <th width="10%">{{ "Percentual"|trans }}</th>

    </tr>
    </thead>

    <tbody>

    {% for log in logs %}

        <tr id="item_{{ log[0]['idLog'] }}">
            <td style="text-align: center">{{ loop.index }}</td>
            <td >{{ log[0]['csAcao']}}</td>
            <td >{{ resumo}}</td>
            <td>{{ ['percentual'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

