<!DOCTYPE html>
<html lang="pt-BR"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ 'Cacic - Configurador Automático e Coletor de Informações Computacionais'|trans }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    {% block javascripts %}
	    {% javascripts output='assets/login.js' combine=true 
	        '@jquery_js'
	        '@bootstrap_js'
	    %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
	{% endblock %}
	
	{% block stylesheets %}
	    {% stylesheets output='assets/login.css' combine=true filter='cssrewrite'
	        '@bootstrap_less'
	        'bundles/caciccommon/css/*'
	        'bundles/caciccommon/Font-Awesome-3.0.2/css/font-awesome.min.css'
	   %}
	        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	   {% endstylesheets %}
	     
	    <link href="{{ asset('bundles/caciccommon/libs/googleapis.fonts.css') }}" rel="stylesheet">
	    
	{% endblock %}

  </head>

<body>

<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="{{ path('cacic_common_homepage') }}">
				CACIC v.{{ cacic_version }}{{' - '}}{{ url }}
			</a>		
			
			<div class="nav-collapse">
				
			</div><!--/.nav-collapse -->
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->

<div class="account-container">
	<div class="content clearfix">
		
		<form action="{{ path('cacic_common_login_check') }}" method="post">
			<h1>{{"Acesso"|trans}}</h1>		

            {% if error %}
                <div id="credentials-error" class="alert alert-danger" style="display: block;"><p>{{ "Falha no login. Verifique suas credenciais ou entre em contato com o administrador do sistema"|trans }}</p></div>
            {% endif %}
			
			<div class="login-fields">
				
				<p>{{"Informe seus dados para efetuar o login:"|trans}}</p>
				
				<div class="field">
					<label for="username">{{"Usuário"|trans}}</label>
					<input type="text" id="username" name="_username" value="" placeholder="{{"Usuário"|trans}}" class="login username-field">
				</div> <!-- /field -->
				
				<div class="field input-prepend">
					<label for="password">{{"Senha"|trans}}</label>
					<input type="password" id="password" name="_password" value="" placeholder="{{"Senha"|trans}}" class="login password-field">
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="_remember_me" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4">
					<label class="choice" for="Field">{{"Mantenha-me conectado"|trans}}</label>
				</span>
									
				<button class="button btn btn-warning btn-large">{{"Entrar"|trans}}</button>
				
			</div> <!-- .actions -->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->

</body>
</html>
