{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

    {% if rede is not null %}
	    <h2>{{ 'Relatório de máquinas da subrede '|trans }} {{ rede }}</h2>
    {% else %}
        <h2>{{ 'Relatório de computadores '|trans }}</h2>
    {% endif %}
	<h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("d/m/Y H\\hi") }}{% endif %}</h5>

	<hr />

    <!--Botão CSV -->
        <a class="btn btn-primary" type="submit" href="{{ path('cacic_relatorio_computador_listar_csv',{'idRede':idRede,'dataInicio':dtAcaoInicio|trim,'dataFim':dtAcaoFim|trim})}}" title="{{ "Máquinas Listadas"|trans }}" target="_self">
            <i class="icon-bar-chart"></i>
            Gerar CSV
        </a>
    <br>
    <br>
    <!--Botão CSV -->

    {% if dados|length %}

        <table class="display datatable" id="datatable">
            <thead>
            <tr>
                <th width="15%">{{ "Computador"|trans }}</th>
                <th width="10%">{{ "MAC Address"|trans }}</th>
                <th width="10%">{{ "Endereço IP"|trans }}</th>
                <th width="10%">{{ "Sistema Operacional"|trans }}</th>
                <th width="25%">{{ "Local"|trans }}</th>
                <th width="15%">{{ "Subrede"|trans }}</th>
                <th width="15%">{{ "Data/Hora do Último Acesso"|trans }}</th>
            </tr>
            </thead>

            <tbody>

                {% for reg in dados %}
                {% set computadores = reg.idComputador|split(',') %}
                {% set nomes = reg.nmComputador|split(',') %}
                {% set ips = reg.teIpComputador|split(',') %}
                <tr>
                    <td>
                        {% for comp in nomes %}
                            <b><a href="{{ path('cacic_computador_detalhar', {'idComputador' : reg.idComputador }) }}" title="{{ 'Detalhar computador'|trans }}" target="_blank">{{ comp }}</a></b>
                        {% else %}
                            <b>{{ reg.nmComputador }}</b>
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('cacic_computador_detalhar', {'idComputador' : reg.idComputador }) }}" title="{{ 'Detalhar computador'|trans }}" target="_blank">{{ reg.teNodeAddress }}</a></td>
                    <td>
                        {% for comp in ips %}
                            <b><a href="{{ path('cacic_computador_detalhar', {'idComputador' : reg.idComputador }) }}" title="{{ 'Detalhar computador'|trans }}" target="_blank">{{ comp }}</a></b>
                        {% else %}
                            <b>{{ reg.teIpComputador }}</b>
                        {% endfor %}
                    </td>
                    <td>{{ reg.sgSo }}</td>
                    <td>{{ reg.nmLocal }}</td>
                    <td>{{ reg.nmRede }} / {{ reg.teIpRede }}</td>
                    <td>{{ reg.dtHrUltAcesso|date(' d, M, Y H:m:s') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td style="text-align: center" colspan="7"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <table class="display datatable" id="datatable">
            <thead>
            <tr>
                <th width="77%" style="text-align: left">{{ "Total de Estações"|trans }}</th>
                <th width="23%" style="text-align: center">{{ dados|length }}</th>
            </tr>
            </thead>
        </table>
    {% else %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="15%">{{ "Computador"|trans }}</th>
                <th width="10%">{{ "MAC Address"|trans }}</th>
                <th width="10%">{{ "Endereço IP"|trans }}</th>
                <th width="10%">{{ "Sistema Operacional"|trans }}</th>
                <th width="25%">{{ "Local"|trans }}</th>
                <th width="15%">{{ "Subrede"|trans }}</th>
                <th width="15%">{{ "Data/Hora do Último Acesso"|trans }}</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="text-align: center;" colspan="7"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}
