{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ "Migração Cacic 2.6"|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-edit icon-eject"></i> {{ "Migração Cacic 2.6"|trans }}</h2>

                <div class="block box_content round_bottom padding_10">

                    <h3>{{ "Importar Dados do Cacic 2.6"|trans }}</h3>
                    <p>{{ "Adicione o arquivo .zip para a importação dos dados"|trans }}.</p>
                    <hr />

                    <form id="FormCacic" class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form)}}>

                        {{ form_widget( form, {'form_type': 'horizontal'} ) }}
                        {{ form_rest(form) }}

                        <br />

                        <div class="control-group">
                            <div class="controls">
                                <button type="reset" class="btn">
                                    <i class="icon-refresh"></i>
                                    {{ "Resetar Valores"|trans }}
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-ok-sign"></i>
                                    {{ "Salvar Dados"|trans }}
                                </button>
                            </div><!-- /controls -->
                        </div><!-- /control-group -->

                    </form>
                    <hr />
                    <div>
                        <a class="btn btn-danger"  href="{{ path('cacic_common_homepage') }}">
                            <i class="icon-remove-sign"></i>
                            {{ "Cancelar"|trans }}
                        </a>
                    </div>
                </div> <!-- block -->
            </div> <!-- /box -->
        </div> <!-- /span -->
    </div> <!-- /row -->

{% endblock %}