{% extends '::base.html.twig' %}

{% block breadcrumb %}
   <li class="active">{{ "Relatório de Softwares Licenciados"|trans }}</li>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/cacicrelatorio/libs/bootstrap-transfer-master/css/bootstrap-transfer.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/cacicrelatorio/libs/bootstrap-transfer-master/js/bootstrap-transfer.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var tSW = $('#transferSW').bootstrapTransfer({'target_id':'tSw'});

		    tSW.populate([ // Popula o TRANSFER com Softwares
  		        {% for sw in softwares %}
  		        {value: "{{ sw[0]['idSoftware'] }}", content:"{{ sw[0]['nmSoftware'] }}"}{% if loop.last != true %},{% endif %}
  		        
  		        {% endfor %}
  		    ]);

			var transferToHidden = {
					'form' : $('#frmFiltroRelatorioSWInventariado'),
					'fieldsPrefix' : 'rel_filtro_software',
					'elms' : [
						{ 'transferElement' : tSW  , 'inputHiddenName' : 'softwares' }
      				]
      		};

			$('.selector-chooser a').removeAttr('href').css('cursor', 'pointer');

      		// Ativa o tratamento dos dados dos transfers a partir da submissão do formulário
      		System.Form.bootStrapTransfer.handle( transferToHidden);
      		
		});
	</script>
{% endblock %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <div class="box grad_colour_black">
            <h2 class="box_head round_top"><i class="icon-list"></i> {{'Relatório de Softwares Licenciados' |trans }}</h2>
            <div class="block box_content round_bottom padding_10">
            
            <h3>{{'Relatório de Softwares Licenciados' |trans }}</h3>
            <p class="muted">
            	Este relatório exibe os softwares adquiridos através de licença. 
            	É possível determinar quais softwares serão exibidos no relatório.
            </p>
            <hr />
            
            <form method="post" id="frmFiltroRelatorioSWInventariado" class="form-horizontal" target="_blank">
            
	            <h4>{{ 'Selecione os Softwares que deseja exibir'|trans }}</h4>
	            <div id="transferSW"></div>
	            
	            <hr />
            	
				<div align="center">
					<button type="submit" class="btn btn-primary">
						<i class="icon-bar-chart"></i>
						{{ "Gerar Relatório"|trans }}
					</button>
				</div>
            
            </form>
            
            </div> <!-- /block -->
        </div> <!-- /box -->
    </div> <!-- /span -->
</div> <!-- /row -->
            

{% endblock %}