{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

<h2 class="">{{ 'Relatório de Softwares Inventariados'|trans }}</h2>
<h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("m/d/Y H\\hi") }}{% endif %}</h5>

<hr />

    <table class="display datatable" id="datatable">
	<thead>
	    <tr>
			<th width="5%" style="text-align: center"></th>
	    	<th width="20%">{{ "Software"|trans }}</th>
	    	<th width="10%">{{ "Local"|trans }}</th>
            <th width="10%">{{ "Ip da Rede"|trans }}</th>
            <th width="30%">{{ "Nome da Rede"|trans }}</th>
	        <th width="10%" style="text-align: center">{{ "Máquinas"|trans }}</th>
	    </tr>
	</thead>
	
	<tbody>
	
	    {% for reg in dados %}
	
        <tr>
			<td style="text-align: center">{{ loop.index }}</td>
            <td><a href="{{ path('cacic_relatorio_software_lista') }}/{{ reg['nmSoftware'] }}" title="{{ "Relatório de coletas do software"|trans }}" target="_blank">{{ reg['nmSoftware'] }}</a></td>
            <td><a href="{{ path('cacic_relatorio_software_lista') }}/{{ reg['nmSoftware'] }}/{{ reg['nmLocal'] }}" title="{{ "Relatório de coletas do software no local"|trans }}" target="_blank">{{ reg['nmLocal'] }}</a></td>
            <td><a href="{{ path('cacic_relatorio_software_lista') }}/{{ reg['nmSoftware'] }}/{{ reg['nmLocal'] }}/{{ reg['idRede'] }}" title="{{ "Relatório de coletas do software na rede"|trans }}" target="_blank">{{ reg['teIpRede'] }} </a></td>
            <td><a href="{{ path('cacic_relatorio_software_lista') }}/{{ reg['nmSoftware'] }}/{{ reg['nmLocal'] }}/{{ reg['idRede'] }}" title="{{ "Relatório de coletas do software na rede"|trans }}" target="_blank">{{ reg['nmRede'] }}</a></td>
            <td style="text-align: center"><a href="{{ path('cacic_relatorio_software_lista') }}/{{ reg['nmSoftware'] }}/{{ reg['nmLocal'] }}/{{ reg['idRede'] }}" title="{{ "Relatório de coletas do software na rede"|trans }}" target="_blank">{{ reg['numComp'] }}</a></td>
        </tr>

    	{% else %}
        <tr>
            <td style="text-align: center" colspan="3"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
        </tr>
		{% endfor %}

   </tbody>
</table>

    <table class="display datatable" id="datatable">
        <thead>
        <tr>
            <th width="77%" style="text-align: left">{{ "Total de Estações"|trans }}</th>
            <th width="23%" style="text-align: center">{{ totalnumcomp }}</th>
        </tr>
        </thead>
    </table>

{% endblock %}