{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

<h2 class="">{{ 'Relatório de Aquisições de Softwares'|trans }}</h2>
<h5>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("m/d/Y H\\hi") }}{% endif %}</h5>

<hr />

<table class="table table-bordered">
	<thead>
	    <tr>
	    	<th width="25%">{{ "Processo"|trans }}</th>
	    	<th width="20%">{{ "Data de Aquisição"|trans }}</th>
	    	<th width="20%">{{ "Empresa"|trans }}</th>
	    	<th width="20%">{{ "Proprietário"|trans }}</th>
	    	<th>{{ "Pregão/Contrato"|trans }}</th>
	    </tr>
	</thead>
	
	<tbody>
	    {% for key, reg in dados %}
        <tr>
            <td>{{ reg.nrProcesso }}</td>
            <td>{{ reg.dtAquisicao|date('d/m/Y')}}</td>
            <td>{{ reg.nmEmpresa }}</td>
            <td>{{ reg.nmProprietario }}</td>
            <td>{{ reg.nrNotaFiscal }}</td>
        </tr>
        <tr>
        	<td colspan="5">
        		<table class="table ">
        			<tbody>
        				<tr>
                            <th width="25%">{{ 'Tipo Licença'|trans }}</th>
        					{#<th width="30%">{{ 'Software'|trans }}</th>#}
        					<th width="25%" style="text-align: center">{{ 'Licenças'|trans }}</th>
                            <th>{{ 'Quantidade Coletada'|trans }}</th>
        					<th style="text-align: center">{{ 'Vencimento'|trans }}</th>
        				</tr>

                        <form action="{{ path('cacic_relatorio_software_inventariados_rel') }}" method="post">

                            {% for item in reg['itens'] %}

                                {#{% for software in item.idSoftware %}
                                    <input type="hidden" name="softwares" value="{{ software.idSoftware }}">
                                {% endfor %}#}
                                <tr>
                                    <td>{{ item.teTipoLicenca }}</td>
                                    {#<td>{{ item.idSoftware.nmSoftware }}</td>#}
                                    <td style="text-align: center">{{ item.qtLicenca }}</td>
                                    <td>{{ item.nComp }}</td>
                                    <td style="text-align: center">{{ item.dtVencimentoLicenca|date('d/m/Y') }}</td>
                                </tr>

                            {% endfor %}

                            {#<tr>
                                <td colspan="4">
                                    <button type="submit" class="btn btn-default">
                                        <i class="icon-ok-sign"></i>
                                        {{ "Visualizar relatório detalhado"|trans }}
                                    </button>
                                </td>
                            </tr>#}
                        </form>
        			</tbody>
        		</table>
        	
        	</td>
        </tr>
    	{% else %}
        <tr>
            <td style="text-align: center" colspan="5"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
        </tr>
		{% endfor %}
   </tbody>
</table>

{% endblock %}