{% extends 'CacicRelatorioBundle::base.html.twig' %}

{% block body %}

    <h2 class="">{{ 'Relatório de Softwares Adquiridos'|trans }}</h2>
    {% if dados[0].nmAquisicao is empty %}
        <h4>{{ 'Processo: '|trans }}{{ dados[0].nrProcesso }}</h4>
        <h4>{{ 'Tipo de licença: '|trans }}{{ dados[0].teTipoLicenca }}</h4>
    {% else %}
        <h4>{{ 'Aquisição: '|trans }}{{ dados[0].nmAquisicao }}</h4>
    {% endif %}
    <p>{{ 'Relatório gerado em'|trans }} {% if idioma == 'pt_BR' %}{{ "now"|date("d/m/Y H\\hi") }}{% else %}{{ "now"|date("m/d/Y H\\hi") }}{% endif %}</p>
    <br>
    <a href="{{ path('cacic_relatorio_software_removidos_det_csv',  { 'idAquisicaoItem': dados[0].idAquisicaoItem }) }}" class="btn btn-primary" target="_blank">
        <i class="icon-bar-chart"></i>
        {{ "Gerar CSV"|trans }}
    </a>

    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: left" width="77%">{{ 'Total de Estações'|trans }}</th>
                <th style="text-align: center" width="23%">{{ dados|length }}</th>
            </tr>
        </thead>
    </table>

    <table class="display datatable" id="datatable">
        <thead>
        <tr>
            <th width="10%">{{ "Nome da Máquina"|trans }}</th>
            <th width="10%" style="text-align: center">{{ "IP"|trans }}</th>
            <th width="10%">{{ "MAC Address"|trans }}</th>
            <th width="18%">{{ "Sistema Operacional" }}</th>
            <th width="20%">{{ "Local"|trans }}</th>
            <th width="10%">{{ "Subrede"|trans }}</th>
            <th width="10%" style="text-align: center">{{ "Data da coleta"|trans }}</th>
            <th width="5%"></th>
        </tr>
        </thead>

        <tbody>

        {% for reg in dados %}

            <tr>
                <td>
                    <a href="{{ path("cacic_computador_detalhar") }}/{{ reg.idComputador }}" target="_blank">
                        {{ reg.nmComputador }}
                    </a>
                </td>
                <td style="text-align: center"><a href="{{ path("cacic_computador_detalhar") }}/{{ reg.idComputador }}" target="_blank">{{ reg.teIpComputador }}</a></td>
                <td style="text-align: center"><a href="{{ path("cacic_computador_detalhar") }}/{{ reg.idComputador }}" target="_blank">{{ reg.teNodeAddress }}</a></td>
                <td>{{ reg.teDescSo }}</td>
                <td>{{ reg.nmLocal }}</td>
                <td>{{ reg.nmRede }}</td>
                <td style="text-align: center">{{ reg.dtHrUltAcesso|date("d/m/Y H\\hi") }}</td>
                <td>
                    <a class="btn" href="{{ path("cacic_computador_detalhar") }}/{{ reg.idComputador }}" target="_blank">
                        <i class="icon-search"></i>
                    </a>
                </td>

            </tr>

        {% else %}
            <tr>
                <td style="text-align: center" colspan="4"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}