{% extends '::base.html.twig' %}

{% block meta %}

    <title>{{ "CACIC - Configurador Automático e Coletor de Informações Computacionais"|trans }}</title>
    <meta name="description" content="{{ 'CACIC -  Confgurador Automático e Coletor de Informações Computacionais'|trans }}">
    <meta name="ahoekie" content="CACIC BackEnd">

{% endblock %}


{% block sidenav %}

    <ul class="clearfix">
        <li><a class="round_top" href="{{ path('cacic_common_homepage') }}">
                <i class="icon-home"></i>
                <span>Home</span></a>
        </li>

        {% if app.user and is_granted('ROLE_DEVEL') %}

            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-lightbulb"></i>
                    <span>{{ "Desenvolvimento"|trans }}</span>
                    <span class="icon">&nbsp;</span>
                </a>
                <ul>
                    <li><a href="{{ path('cacic_arquivo_sgconf') }}">{{ "Exportar CSV"|trans }}</a></li>
                    <li><a href="{{ path('cacic_migracao_cacic26') }}">{{ "Importar de 2.6"|trans }}</a></li>
                    <li><a href="{{ path('cacic_common_homepage') }}dev/monolog">{{ "Log de Erros"|trans }}</a></li>
                </ul>
            </li>
        {% endif %}

        {% if app.user and is_granted('ROLE_ADMIN') %}

        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cogs"></i>
                <span>{{ "Administração"|trans }}</span>
                <span class="icon">&nbsp;</span>
            </a>
            <ul>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        {{ "Configurar Coletas"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_agente') }}">{{ "Upload de Agentes"|trans }}</a></li>
                        <li><a href="{{ path('cacic_deploy') }}">{{ "Deploy de software"|trans }}</a></li>
                        <li><a href="{{ path('cacic_atualizacao_subredes') }}">{{ "Atualização de Subrede"|trans }}</a></li>
                        <li><a href="{{ path('cacic_modulo_index') }}">{{ "Configurar Módulos"|trans }}</a></li>
                    </ul>
                </li>

                <li class="dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        {{ "Logs"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_log_acesso') }}">{{ "Acessos"|trans }}</a></li>
                        <li><a href="{{ path('cacic_log_atividade') }}">{{ "Atividades"|trans }}</a></li>
                        <li><a href="{{ path('cacic_log_insucesso_instalacao') }}">{{ "Insucessos Instalação"|trans }}</a></li>
                        {#<li><a href="{{ path('cacic_log_suporte_remoto') }}">{{ "Suporte Remoto Seguro"|trans }}</a></li>#}
                    </ul>
                </li>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0)">
                        <span>{{ "Cadastros"|trans }}</span>
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_local_index') }}">{{ "Locais"|trans }}</a></li>
                        <li><a href="{{ path('cacic_servidorautenticacao_index') }}">{{ "Servidores Autenticação"|trans }}</a></li>
                        <li><a href="{{ path('cacic_subrede_index') }}">{{ "Sub-redes"|trans }}</a></li>
                        <li><a href="{{ path('cacic_subrede_computadores') }}">{{ "Computadores e Subredes"|trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"  >
                    <a href="javascript:void(0)">
                        {{ "Usuários"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_usuario_index') }}">{{ "Cadastro de Usuários"|trans }}</a></li>
                        <li><a href="{{ path('cacic_grupo_usuario_index') }}">{{ "Grupo de Usuários"|trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"  >
                    <a href="javascript:void(0)">
                        {{ "Patrimônio"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li ><a href="{{ path('cacic_uorg_index')}}">{{ "Unidades Organizacionais"|trans }}</a></li>
                        <li ><a href="{{ path('cacic_uorg_type_index')}}">{{ "Tipos de Unidade"|trans }} <br> {{ "Organizacional"|trans }}</a></li>
                        <li ><a href="{{ path('cacic_patrimonio_opcoes')}}">{{ "Opções"|trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0)">
                        {{ "Forçar Coletas"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_computador_coletar') }}">{{ "Forçar coleta computador"|trans }}</a></li>
                        <li><a href="{{ path('cacic_rede_coletar') }}">{{ "Forçar coleta subrede"|trans }}</a></li>
                    </ul>

                </li>
                <li><a href="{{ path('cacic_computador_versaoagente') }}">{{ "Versões Agentes"|trans }}</a></li>
            </ul>
        </li>

        {% endif %}

        {% if app.user and is_granted('ROLE_GESTAO') %}

        <li class="subnavbar-open-right" >
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-wrench"></i>
                <span>{{ "Manutenção"|trans }}</span>
                <span class="icon">&nbsp;</span>
            </a>
            <ul>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0)">
                        <span>{{ "Cadastros"|trans }}</span>
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_tiposo_index') }}">{{ "Tipos de SO"|trans }}</a></li>
                        <li><a href="{{ path('cacic_sistemaoperacional_index') }}">{{ "Sistemas Operacionais"|trans }}</a></li>
                        <li><a href="{{ path('cacic_aplicativo_index') }}">{{ "Aplicativos Monitorados"|trans }}</a></li>
                        <li><a href="{{ path('cacic_usbdevice_index') }}">{{ "Dispositivos USB"|trans }}</a></li>
                        <li><a href="{{ path('cacic_device3g_index') }}">{{ "Dispositivos 3G"|trans }}</a></li>

                    </ul>
                </li>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0)">
                        {{ "Classificar de software"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_tiposoftware_index') }}">{{ "Tipos Softwares"|trans }}</a></li>
                        <li class="dropdown-submenu" >
                            <a href="javascript:void(0)">
                                {{ "Selecionar Tipo"|trans }}
                                <span class="icon">&nbsp;</span>
                            </a>
                            <ul>
                                <li><a class="round_top" href="{{ path('cacic_software_naoclassificados') }}">{{ "Em grupo"|trans }}</a></li>
                                <li><a href="{{ path('cacic_software_index') }}">{{ "Um por um"|trans }}</a></li>
                            </ul>
                        </li>
                        {#<li><a href="{{ path('cacic_software_naousados') }}">{{ "Softwares não usados"|trans }}</a></li>#}
                    </ul>
                </li>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0)">
                        {{ "Controle de Licenças"|trans }}
                        <span class="icon">&nbsp;</span>
                    </a>
                    <ul>
                        <li><a href="{{ path('cacic_tipo_licenca_index') }}">{{ "Tipos de Licença"|trans }}</a></li>
                        <li><a href="{{ path('cacic_aquisicao_index') }}">{{ "Processos de Aquisição"|trans }}</a></li>
                        <li><a href="{{ path('cacic_aquisicao_item_index') }}">{{ "Softwares adquiridos"|trans }}</a></li>
                        {#<li><a href="{{ path('cacic_manutencao_autorizacoes') }}">{{ "Softwares Autorizados"|trans }}</a></li>#}
                        <li><a href="{{ path('cacic_software_estacao_index') }}">{{ "Software por estações"|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('cacic_common_homepage') }}manutencao/_trans">{{ "Localização"|trans }}</a></li>
            </ul>
        </li>

        {% endif %}

        <li>
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-desktop"></i>
                <span>{{ "Computadores"|trans }}</span>
                <span class="icon">&nbsp;</span>
            </a>
            <ul>
                <li><a href="{{ path('cacic_computador_navegar') }}">{{ "Navegar"|trans }}</a></li>
                <li><a href="{{ path('cacic_computador_consultar') }}">{{ "Consultar"|trans }}</a></li>
                <li><a href="{{ path('cacic_computador_buscar') }}">{{ "Busca avançada"|trans }}</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-book"></i>
                <span>{{ "Relatórios"|trans }}</span>
                <span class="icon">&nbsp;</span>
            </a>
            <ul>
                <li class="dropdown-submenu" >
                    <li class="dropdown-submenu" >
                        <a href="javascript:void(0)">
                            <span>{{ "Softwares"|trans }}</span>
                            <span class="icon">&nbsp;</span>
                        </a>
                        <ul>
                            <li><a href="{{ path('cacic_relatorio_software_inventariados') }}">{{ "Softwares Inventariados"|trans }}</a></li>
                            {# <li><a href="{{ path('cacic_relatorio_software_licenciados') }}">{{ "Softwares Licenciados"|trans }}</a></li> #}
                            <li><a href="{{ path('cacic_relatorio_software_aquisicoes') }}" target="_blank">{{ "Controle de Licenças"|trans }}</a></li>
                            {#<li><a href="{{ path('cacic_relatorio_software_orgao') }}">{{ "Por Órgão/Máquinas"|trans }}</a></li>#}
                            <li><a href="{{ path('cacic_relatorio_software_tipo') }}">{{ "Tipos de Software"|trans }}</a></li>
                            {#<li><a href="{{ path('cacic_relatorio_software_naoVinculados') }}" target="_blank">{{ "Softwares não Vinculados"|trans }}</a></li>#}
                        </ul>
                    </li>
                    <li class="dropdown-submenu" >
                        <a href="javascript:void(0)">
                            <span>{{ "Computadores"|trans }}</span>
                            <span class="icon">&nbsp;</span>
                        </a>
                        <ul>
                            <li><a class="round_top" href="{{ path('cacic_relatorio_faturamento') }}">{{ "Faturamento"|trans }}</a></li>
                            <li><a class="round_top" href="{{ path('cacic_relatorio_computador') }}">{{ "Total de Computadores"|trans }}</a></li>
                            <li><a class="round_top" href="{{ path('cacic_ateste') }}">{{ "Relatório para Ateste"|trans }}</a></li>
                            <li><a class="round_top" href="{{ path('cacic_relatorio_inativos') }}">{{ "Computadores Inativos"|trans }}</a></li>
                        </ul>
                    </li>
                <li class="dropdown-submenu" >
                    <a href="javascript:void(0)">
                        <span>{{ "Classes WMI"|trans }}</span>
                        <span class="icon">&nbsp;</span>
                    </a>
                    {{ knp_menu_render('CacicRelatorioBundle:Builder:relatorioMenu') }}
                </li>
                <li><a class="round_top" href="{{ path('cacic_relatorio_wmi_sem_coleta') }}">{{ "WMI Sem Coleta"|trans }}</a></li>
                <li><a class="round_top" href="{{ path('cacic_relatorio_so') }}">{{ "Sistemas Operacionais"|trans }}</a></li>
                <li><a class="round_top" href="{{ path('cacic_relatorio_usuario') }}">{{ "Usuário Logado"|trans }}</a></li>
                <li><a class="round_top" href="{{ path('cacic_relatorio_hardware_wmi_dinamico') }}">{{ "WMI Dinâmico"|trans }}</a></li>
            </ul>
        </li>

        <!-- <li class="dropdown subnavbar-open-right">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown-">
							<i class="icon-bar-chart"></i>
							<span>{{ "Estatísticas"|trans }}</span>
							<span class="icon">&nbsp;</span>
						</a>
						<ul>
							<li><a href="javascript:void(0)">{{ "Sistemas Monitorados"|trans }}</a></li>
						</ul>
					</li> -->

        <li>
            <a href="{{ path('cacic_downloads') }}" title="{{ "Baixar Agentes"|trans }}">
                <i class="icon-download-alt"></i>
                <span>{{ "Downloads"|trans }}</span>
            </a>
        </li>

        <!-- <li>
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-info-sign"></i>
							<span>{{ "Projeto CACIC"|trans }}</span>
						</a>
					</li> -->

        <li>
            <a href="http://www.softwarepublico.gov.br/ver-comunidade?community_id=3585" target="_blank">
                <i class="icon-group"></i>
                <span>{{ "Comunidade CACIC"|trans }}</span>
            </a>
        </li>
    </ul>
    <!-- <a href="#" class="minimize round_bottom"><span>minimize</span></a>  -->
{% endblock %}
