{% extends '::base.html.twig' %}

{% block body %}

<div class="page-header">
    <h1>Perfil Aplicativo Monitorado
        <small>Dados do Aplicativo Monitorado</small></h1>
</div>

<div class="well">

    <form id="formPerfilAplicativoMonitorado" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>

        {{ form_row(form.nmAplicativo) }}
        {{ form_row(form.so) }}
        {{ form_row(form.inDisponibilizaInfo) }}
        {{ form_row(form.inDisponibilizaInfoUsuarioComum) }}
        {{ form_row(form.teDescritivo) }}

        {{ form_row(form.selCsIdeLicenca) }}
        {{ form_row(form.csIdeLicenca) }}

        <h4><div align="left">Características em ambientes Windows 9x/Me</div></h4>
        <br />

        {{ form_row(form.selTeCarInstW9x) }}
        {{ form_row(form.teCarInstW9x) }}

        {{ form_row(form.selCsCarVerW9x) }}
        {{ form_row(form.csCarVerW9x) }}

        <h4><div align="left">Características em ambientes Windows NT/2000/XP/2003</div></h4>
        <br />

        {{ form_row(form.selTeCarInstWnt) }}
        {{ form_row(form.teCarInstWnt) }}

        {{ form_row(form.selCsCarVerWnt) }}
        {{ form_row(form.csCarVerWnt) }}

        <h4><div align="left">Selecao de redes para aplicacao desta coleta de informacoes</div></h4>
        <br />
        <h3>Selecione as redes:<h3/>
        
        <div class="form-transfer">
        	<div class="form-transfer-from">
        		{{ form_row(form.idRede) }}
        	</div>

			<div class="form-transfer-options">
				<input id="rede-add" type="button" value="   &gt;   " class="transfer-button" />
				<br>
				<input id="rede-remove" type="button" value="   &lt;   " class="transfer-button" />
            </div>
            
			<div class="form-transfer-to">
        		{{ form_row(form.idRede1) }}
        	</div>
        </div>
        {{ form_rest(form) }}

        <div class="form-opcoes">
            <input type="reset" value="Limpar Valores" class="btn btn-small" />
            <input type="submit" value="Salvar Dados" class="btn btn-primary btn-small" />
        </div>

    </form>

</div>

<div >
    <a class="btn btn-danger btn-small"  href="{{ path('cacic_perfilaplicativomonitorado_index') }}">Cancelar</a>
</div>
    
<script type="text/javascript">

$().ready(function() {
    var csIdeLicenca_desc = {
        1: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao',
        2: 'Ex.:  Arquivos de Programas\\Cacic\\Cacic2.ini/Patrimonio/nu_CPU'
    };
	var carInstW9x_desc = {
		1: 'Ex.:  Arquivos de Programas\\Cacic\\Programas\\cacic.exe',
		2: 'Ex.:  Arquivos de Programas\\Cacic\\Dados\\config.ini',
		3: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao'
	};
    var carVerW9x_desc = {
        1: 'Ex.:  Arquivos de Programas\\Cacic2\\Programas\\ger_cols.exe',
        2: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao',
        3: 'Ex.:  Arquivos de Programas\\Cacic\\Cacic2.ini/Patrimonio/nu_CPU',
        4: 'Ex.:  C:\\Cacic\\modulos\\col_moni.exe'
    };
    var carInstWnt_desc = {
        1: 'Ex.:  Arquivos de Programas\\Cacic2\\Programas\\ger_cols.exe',
        2: 'Ex.:  Arquivos de Programas\\Cacic\\Dados\\config.ini',
        3: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao'
    };
	
	
	$('#rede-add').click(function() {
		$( '#aplicativo_idRede' ).effect( 'transfer', { to: $( '#aplicativo_idRede1' ) }, 500 );
		$('#aplicativo_idRede option:selected').remove().appendTo('#aplicativo_idRede1');
	}); 
	
	$('#rede-remove').click(function() {
		$( '#aplicativo_idRede1' ).effect( 'transfer', { to: $( '#aplicativo_idRede' ) }, 500 );
		$('#aplicativo_idRede1 option:selected').remove().appendTo('#aplicativo_idRede');
	});

    $( '#aplicativo_selCsIdeLicenca' ).change(function(){
        if ( $( this).val() == undefined || $( this).val() == 0 )
        $( '#aplicativo_csIdeLicenca' ).attr('placeholder', '');
        else
        $( '#aplicativo_csIdeLicenca' ).attr('placeholder', csIdeLicenca_desc[ $( this ).val() ] );
    });

	$( '#aplicativo_selTeCarInstW9x' ).change(function(){
        if ( $( this).val() == undefined || $( this).val() == 0 )
            $( '#aplicativo_teCarInstW9x' ).attr('placeholder', '');
        else
            $( '#aplicativo_teCarInstW9x' ).attr('placeholder', carInstW9x_desc[ $( this ).val() ] );
	});

    $( '#aplicativo_selCsCarVerW9x' ).change(function(){
        if ( $( this).val() == undefined || $( this).val() == 0 )
            $( '#aplicativo_csCarVerW9x' ).attr('placeholder', '');
        else
            $( '#aplicativo_csCarVerW9x' ).attr('placeholder', carVerW9x_desc[ $( this ).val() ] );
    });

    $( '#aplicativo_selTeCarInstWnt' ).change(function(){
        if ( $( this).val() == undefined || $( this).val() == 0 )
            $( '#aplicativo_teCarInstWnt' ).attr('placeholder', '');
        else
            $( '#aplicativo_teCarInstWnt' ).attr('placeholder', carInstWnt_desc[ $( this ).val() ] );
    });

    $( '#aplicativo_selCsCarVerWnt' ).change(function(){
        if ( $( this).val() == undefined || $( this).val() == 0 )
            $( '#aplicativo_csCarVerWnt' ).attr('placeholder', '');
        else
            $( '#aplicativo_csCarVerWnt' ).attr('placeholder', carVerW9x_desc[ $( this ).val() ] );
    });

    $( '#formPerfilAplicativoMonitorado' ).submit(function(){
        $( '#aplicativo_idSo' ).val( $( '#aplicativo_so' ).val() );
    });
});

</script>

{% endblock %}