{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
	<div class="page-header-desc">
		As informações que deverão ser cadastradas abaixo referem-se a um local originário de chamada ao sistema CACIC. Como por exemplo uma região, um estado, um orgão etc.
	</div>
	
    <h1>
    	Locais
    	<small>Cadastro de novo local</small>
    </h1>
</div>

<div class="well">
	
	<form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	{% block redesAssociadas %}{% endblock %}
	{% block usuariosAssociados %}{% endblock %}
	
	{{ form_rest(form) }}
	
	<div class="form-opcoes">
		<button type="reset" class="btn">
			<i class="icon-refresh"></i>
			Resetar Valores
		</button>
		<button type="submit" class="btn btn-primary">
			<i class="icon-ok-sign"></i>
			Salvar Dados
		</button>
	</div>
	
	</form>
	
</div>

<div align="left">
	<a class="btn btn-danger" href="{{ path('cacic_local_index') }}">
		<i class="icon-remove-sign"></i>
		  Cancelar 
	</a>
</div>
	
{% endblock %}