{% extends '::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Computadores das Subredes'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-search"></i> {{'Busca Avançada de Informações de Computadores' |trans }}</h2>

                <div class="block box_content round_bottom padding_10">

                    <h4>{{ "Filtros para consulta avançada"|trans }}</h4><br />

                    <form id={{ 'formComputadorConsulta'|trans }} class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" >

                    <div class="control-group" >
                        <label for="log_acesso_periodo"style="width:300px; margin-right: 15px" class="control-label">{{ 'Selecione os filtros da consulta'|trans }}</label>
                        <div class="controls">
                            {{ form_widget(form.selConsulta, {'form_type': 'horizontal'}) }}
                        </div>
                    </div>

                    <div  id="teIpComputador" class="mostrarDiv"  style=" display: none; margin-left: 155px" >
                        <div class="control-group" >
                            <div class="controls">
                                {{ form_widget(form.teIpComputador) }}
                            </div>
                        </div>
                    </div>
                    <div  id="nmComputador" class="mostrarDiv"  style="display:none; margin-left: 155px" >
                        <div class="control-group" >
                            <div class="controls">
                                {{ form_widget(form.nmComputador) }}
                            </div>
                        </div>
                    </div>
                    <div  id="teNodeAddress" class="mostrarDiv"  style="display: none; margin-left: 155px" >
                        <div class="control-group" >
                            <div class="controls">
                                {{ form_widget(form.teNodeAddress) }}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls"  style=" margin-left: 155px">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-search"></i>
                                {{ 'Consultar'|trans }}
                            </button>
                        </div>
                    </div>
                    </form>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span8 -->
        <div class="span4">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-info-sign"></i> {{ "Informações Adicionais"|trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                    <p>
                        {{ "Este módulo permite a visualização dos computadores monitorados pelos agentes do cacic"|trans }}.
                    </p>
                    <p>
                        {{ "É possível pesquisar por IP's, nome ou Mac da máquina, bastando selecionar uma de suas opções"|trans }}.
                    </p>
                    <p>
                        {{ "Não selecionar nenhum valor em determinado critério é o mesmo que selecionar todos"|trans }}.
                    </p>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- span4 -->

    </div> <!-- /row -->

    {% if computadores is not null %}
        {% include 'CacicCommonBundle:Computador:resultadoConsulta.html.twig' %}
    {% endif %}

{% endblock %}


 {% block javascripts %}

     <!-- javascript
     ================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
     <!-- jQuery (UI) -->
     <script type="text/javascript" src="{{ asset('bundles/caciccommon/libs/jquery.1.7.1.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset('bundles/caciccommon/libs/jquery-ui-1.8.17.min.js') }}"></script>


     {{ parent() }}



     <script type="text/javascript">
         /**
          * Mensagens do sistema
          */

          if($('#ComputadorConsulta_selConsulta').val() == 'teIpComputador'){
               $('#teIpComputador').show();
          }
         if($('#ComputadorConsulta_selConsulta').val() == 'nmComputador'){
             $('#nmComputador').show();
         }
         if($('#ComputadorConsulta_selConsulta').val() == 'teNodeAddress'){
             $('#teNodeAddress').show();
         }



             $('#ComputadorConsulta_selConsulta').change(function () {
                 $('.mostrarDiv').hide();
                 $('#ComputadorConsulta_teIpComputador').val( '' );
                 $('#ComputadorConsulta_nmComputador').val( '' );
                 $('#ComputadorConsulta_teNodeAddress').val( '' );

                 $('#' + $(this).val()).show();
             });

     </script>

 {% endblock %}



