{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}     
    <li><a href="{{ path('cacic_computador_navegar') }}">{{ "Computadores"|trans }}</a></li> / 
    <li class="active">{{ computador.nmComputador }}</li>
{% endblock %}

{#
{% block submenu %}
    <div id="scrollSpy">
        <ul class="clearfix" data-spy="affix" data-offset-top="295">
            {% for classe in dadosColeta|keys %}
                <li>
                    <a class="round_top" href="#{{ classe }}">
                        <span>{{ classe }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
#}

{% block body %}

<div class="row-fluid" data-spy="scroll" data-target="#scrollSpy">

    <div class="row-fluid">
        <div class="span12">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top">
                    <i class="icon-desktop"></i>
                    {{ "Detalhes do Computador"|trans }}: {{ computador.nmComputador }}
                </h2>
                <a href="#" class="toggle box_button_1" title="toggle">&nbsp;</a>
                <a href="#" class="destroy box_button_1" title="close" style="display: none;">&nbsp;</a>

                <div class="toggle_container" style="display: block;">

                    <div class="block box_content round_bottom padding_10">
                        {% if ativo == 'falso' %}
                            <div class="alert alert-danger">
                                <h3 style="text-align: center;">{{ "Computador Inativo"|trans }}</h3>
                            </div>
                        {% else %}
                        {% endif %}
                        <div class="span8">
                            <h3>{{ computador.nmComputador }}</h3>
                            <p class="muted">{{ "Dados coletados pelo agente-CACIC à partir da estação de trabalho."|trans }}</p>
                            <div class="well">
                                <div class="block round_bottom padding_8 shortcuts">
                                    <a href="{{ path('cacic_relatorio_computador_log_acesso', {'idComputador': computador.idComputador}) }}" class="shortcut">
                                        <i class="shortcut-icon icon-desktop"></i>
                                        <span class="shortcut-label">{{ "Log de Acesso"|trans }}</span>
                                    </a>
                                    {% if is_granted('ROLE_GESTAO') %}
                                        <a href="{{ path('cacic_relatorio_computador_log_usuario', {'idComputador': computador.idComputador}) }}" class="shortcut">
                                            <i class="shortcut-icon icon-user"></i>
                                            <span class="shortcut-label">{{ "Usuários Logados"|trans }}</span>
                                        </a>
                                    {% endif %}
                                    {% if excluidos %}
                                        <a href="{{ path('cacic_relatorio_hardware_desativados', {'idComputador': computador.idComputador}) }}" class="shortcut">
                                            <i class="shortcut-icon icon-warning-sign"></i>
                                            <span class="shortcut-label">{{ "Remoções"|trans }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_GESTAO') %}
                            <div class="span4">
                                <div class="well">
                                    <h3>{{ "Açoes no computador"|trans }}</h3>
                                    <a class="btn btn-large btn-primary" href="{{ path('cacic_patrimonio_cadastrar', {'idComputador': computador.idComputador}) }}">
                                        <i class="icon-plus"></i>
                                        {{ "Cadastrar Patrimonio"|trans }}
                                    </a>
                                    <br>
                                    <br>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {% if ativo == 'falso' %}
                                            <a class="btn btn-large btn-success" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?ativar=True">
                                                <i class="icon-ok-sign"></i>
                                                {{ "Ativar Computador"|trans }}
                                            </a>
                                        {% else %}
                                            <a class="btn btn-large btn-danger" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?desativar=True">
                                                <i class="icon-remove-sign"></i>
                                                {{ "Desativar Computador"|trans }}
                                            </a>
                                        {% endif %}
                                        <br><br>
                                        <a class="btn btn-large btn-info" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?forcarColeta=True">
                                            <i class="icon-download-alt"></i>
                                            {{ "Forçar Coleta"|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="4">{{ 'Informações Básicas'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th width="20%">{{ 'Nome do Computador'|trans }}</th>
                                    <td width="30%">{{ computador.nmComputador }}</td>
                                    <th width="20%">{{ 'Notebook'|trans }}</th>
                                    <td width="30%">{{ computador.isNotebook }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Sistema Operacional'|trans }}</th>
                                    <td>{{ computador.idSo }}</td>
                                    <th>{{ 'Último usuário logado'|trans }}</th>
                                    <td>{{ computador.teUltimoLogin }}</td>
                                </tr>
                                <tr>
                                    <th width="10%">{{ 'Endereço TCP/IP'|trans }}</th>
                                    <td width="20%">{{ computador.teIpComputador }}</td>
                                    <th width="20%">{{ 'Nome/IP da subrede'|trans }}</th>
                                    <td width="30%">{{ computador.idRede.nmRede }} - {{ computador.idRede.teIpRede }}</td>
                                </tr>
                                <tr>
                                    <th width="20%">{{ 'Versão do Agente Principal'|trans }}</th>
                                    <td width="30%">{{ computador.teVersaoCacic }}</td>
                                    <th width="20%">{{ 'Versão do Agente de Coletas'|trans }}</th>
                                    <td width="30%">{{ computador.teVersaoGercols }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Data/Hora de inclusão'|trans }}</th>
                                    <td>{{ computador.dtHrInclusao|date('d/m/Y H:i') }}</td>
                                    <th>{{ 'Data/Hora do último acesso'|trans }}</th>
                                    <td>{{ computador.dtHrUltAcesso|date('d/m/Y H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% if licencas|length > 0 or software.relatorios|length > 0 or licencas_removidas|length > 0 %}

        <div class="row-fluid">
            <div class="span12">
                <div class="box grad_colour_black">

                    <h2 class="box_head round_top">
                        <i class="icon-list"></i>
                        {{ "Coleta de Software"|trans }}
                    </h2>
                    <a href="#" class="toggle box_button_1" title="toggle">&nbsp;</a>
                    <a href="#" class="destroy box_button_1" title="close" style="display: none;">&nbsp;</a>
                    <div class="toggle_container">

                        <div class="block box_content round_bottom padding_10">

                            {% if software.relatorios|length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="3">{{ 'Softwares Coletados'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for elm in software.relatorios|keys %}
                                        <tr>
                                            <td style="width: 5%;">{{ loop.index }}</td>
                                            <td style="width: 80%;">{{ elm }}</td>
                                            <td style="width: 15%;">
                                                <a class="btn btn-default" href="{{ path('cacic_relatorio_software_computador', {'idComputador': computador.idComputador, 'idRelatorio': software.relatorios[elm].getIdRelatorio()}) }}" title="{{ "Detalhar coletas"|trans }}" target="_blank">
                                                    <i class="icon-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <br>
                            <br>

                            <div class="row-fluid">
                                <div class="span6">
                                    {% if licencas|length > 0 %}
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{ "Licenças Ativas"|trans }}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th width="2%"></th>
                                                        <th>{{ "Processo de Aquisição"|trans }}</th>
                                                        <th>{{ "Nota Fiscal"|trans }}</th>
                                                        <th>{{ "Data de Vencimento"|trans }}</th>
                                                        <th>{{ "Tipo de Licença"|trans }}</th>
                                                        <th>{{ "Nome da Aquisição"|trans }}</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for elm in licencas %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ elm.nrProcesso }}</td>
                                                            <td>{{ elm.nrNotaFiscal }}</td>
                                                            <td>{{ elm.dtVencimentoLicenca|date('m/d/Y H:i:s') }}</td>
                                                            <td>{{ elm.teTipoLicenca }}</td>
                                                            <td>{{ elm.nmAquisicao }}</td>
                                                            <td>
                                                                <a class="btn btn-default" href="{{ path('cacic_relatorio_software_aq_computador', {'idComputador': computador.idComputador, 'idAquisicaoItem': elm.idAquisicaoItem }) }}" title="{{ "Detalhar coletas"|trans }}" target="_blank">
                                                                    <i class="icon-search"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="span6">
                                    {% if licencas_removidas|length > 0 %}
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{ "Licenças Inativas"|trans }}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th width="2%"></th>
                                                        <th>{{ "Processo de Aquisição"|trans }}</th>
                                                        <th>{{ "Nota Fiscal"|trans }}</th>
                                                        <th>{{ "Data de Vencimento"|trans }}</th>
                                                        <th>{{ "Tipo de Licença"|trans }}</th>
                                                        <th>{{ "Nome da Aquisição"|trans }}</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for elm in licencas_removidas %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ elm.nrProcesso }}</td>
                                                            <td>{{ elm.nrNotaFiscal }}</td>
                                                            <td>{{ elm.dtVencimentoLicenca|date('m/d/Y H:i:s') }}</td>
                                                            <td>{{ elm.teTipoLicenca }}</td>
                                                            <td>{{ elm.nmAquisicao }}</td>
                                                            <td>
                                                                <a class="btn btn-default" href="{{ path('cacic_relatorio_software_aq_computador', {'idComputador': computador.idComputador, 'idAquisicaoItem': elm.idAquisicaoItem }) }}" title="{{ "Detalhar coletas"|trans }}" target="_blank">
                                                                    <i class="icon-search"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <br>
                            <p style="text-align: center">
                                <a class="btn btn-large" href="#SoftwareList">
                                    {{ "Inventário de Software"|trans }}
                                    <i class="icon-arrow-down icon-white"></i>
                                </a>
                            </p>
                            <br>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    {% endif %}


    {% for classe in dadosColeta|keys %}
        <div class="row-fluid">
            <div class="span12 column ui-sortable" id="{{ classe }}">
                <div class="box grad_colour_black" id="box_{{ loop.index }}">

                    <h2 class="box_head round_top">
                        <i class="icon-list"></i>
                        {{ 'Classe de coleta: '|trans}}{{ classe }}
                    </h2>
                    <a name="{{ classe }}" class="toggle box_button_1" title="toggle" href="#{{ classe }}">&nbsp;</a>
                    <a href="#" class="destroy box_button_1" title="close" style="display: none;">&nbsp;</a>

                    <div class="toggle_container">
                        <div class="block box_content round_bottom padding_10">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ "Coletas"|trans }}</h3>
                                </div>
                                <div class="panel-body">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="2%"></th>
                                                <th width="30%">{{ "Atributo"|trans }}</th>
                                                <th>{{ "Valor"|trans }}</th>
                                                <th width="20%">{{ "Data da Coleta"|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for dados in attribute(dadosColeta, classe)|keys %}
                                                <tr>
                                                    <td><a rel="tooltip" name="{{ attribute(attribute(dadosColeta, classe), dados).getClassProperty().getNmPropertyName() }}" data-original-title="{{ attribute(attribute(dadosColeta, classe), dados).getClassProperty().getTePropertyDescription() }}" style="cursor: pointer;">
                                                            <i class="icon-info-sign"></i>
                                                        </a></td>
                                                    <td>
                                                        {{ attribute(attribute(dadosColeta, classe), dados).getClassProperty().getNmPropertyName() }}
                                                    </td>
                                                    <td>{{ attribute(attribute(dadosColeta, classe), dados).teClassPropertyValue|raw }}</td>
                                                    <td>{{ attribute(attribute(dadosColeta, classe), dados).dtHrInclusao|date('m/d/Y H:i:s') }}</td>
                                                </tr>
                                            {% endfor %}
                                            <br>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            {% if attribute(hardwares_excluidos, classe) is defined %}
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ "Remoções"|trans }}</h3>
                                    </div>
                                    <div class="panel-body">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th width="2%"></th>
                                                <th width="30%">{{ "Atributo"|trans }}</th>
                                                <th>{{ "Valor"|trans }}</th>
                                                <th width="20%">{{ "Data da Remoção"|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for dados in attribute(hardwares_excluidos, classe)|keys %}
                                                <tr>
                                                    <td><a rel="tooltip" name="{{ attribute(attribute(hardwares_excluidos, classe), dados).getClassProperty().getNmPropertyName() }}" data-original-title="{{ attribute(attribute(hardwares_excluidos, classe), dados).getClassProperty().getTePropertyDescription() }}" style="cursor: pointer;">
                                                            <i class="icon-info-sign"></i>
                                                        </a></td>
                                                    <td>
                                                        {{ attribute(attribute(hardwares_excluidos, classe), dados).getClassProperty().getNmPropertyName() }}
                                                    </td>
                                                    <td>{{ attribute(attribute(hardwares_excluidos, classe), dados).teClassPropertyValue|raw }}</td>
                                                    <td>{{ attribute(attribute(hardwares_excluidos, classe), dados).dtHrExclusao|date('m/d/Y H:i:s') }}</td>
                                                </tr>
                                            {% endfor %}
                                            <br>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}

                            <center>
                                <a class="btn btn-large" href="{{ path(
                                'cacic_computador_historico',
                                {
                                'idComputador': computador.idComputador,
                                'classe': classe
                                })
                                }}" target="_blank">
                                    {{ 'Visualizar histórico de alterações para a classe '|trans }}{{ classe }}
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row-fluid">
            <div class="span12">
                <div class="box grad_colour_black">

                    <h2 class="box_head round_top">
                        <i class="icon-desktop"></i>
                        {{ "Coletas"|trans }}
                    </h2>
                    <a name="{{ "WMI"|trans }}" class="toggle box_button_1" title="toggle">&nbsp;</a>

                    <div class="toggle-container">

                        <div class="block box_content round_bottom padding_10">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="3">{{ 'Coletas'|trans }}</th>
                                </tr>
                            </thead>
                                <tbody>
                                    <tr><td colspan="3" style="text-align: center"><b>{{ 'NENHUM REGISTRO ENCONTRADO'|trans }}</b></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <div class="row-fluid">
        <div class="span12">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top">
                    <i class="icon-list"></i>
                    {{ 'Inventário de Software'|trans }}
                </h2>
                <a name="SoftwareList" href="#SoftwareList" class="toggle box_button_1" title="toggle">&nbsp;</a>
                <a href="#" class="destroy box_button_1" title="close" style="display: none;">&nbsp;</a>
                <div class="toggle-container">
                    <div class="block box_content round_bottom padding_10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="3">{{ 'Inventário de Software'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dados in software.inventariados|keys %}
                                    {% if attribute(software.inventariados, dados).ativo is sameas(false) %}
                                        {# Apenas pula os falsos #}
                                    {% else %}
                                        <tr>
                                            <th rowspan="5" valign="middle" width="20%">{{ attribute(software.inventariados, dados).displayName }}</th>
                                        </tr>
                                            <tr>
                                                <th width="20%">{{ 'Versão'|trans }}</th>
                                                <td>{{ attribute(software.inventariados, dados).displayVersion }}</td>
                                            </tr>
                                            <tr>
                                                <th width="20%">{{ 'URL'|trans }}</th>
                                                <td>{{ attribute(software.inventariados, dados).URLInfoAbout }}</td>
                                            </tr>
                                            <tr>
                                                <th width="20%">{{ 'Fabricante'|trans }}</th>
                                                <td>{{ attribute(software.inventariados, dados).publisher }}</td>
                                            </tr>
                                        <tr>&nbsp;</tr>
                                    {% endif %}
                                {% else %}
                                    <tr><td colspan="3" style="text-align: center"><b>{{ 'NENHUM REGISTRO ENCONTRADO'|trans }}</b></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>

            </div> <!-- box -->
        </div> <!-- span -->
    </div> <!-- row -->
    <br>
    <br>
    <br>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

        ul.clearfix.affix {
            top: 100px;
        }

    </style>
{% endblock %}