{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
   <li class="active">{{ "Relatório da Classe "|trans }} {{ classe }}</li>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/cacicrelatorio/libs/bootstrap-transfer-master/css/bootstrap-transfer.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/cacicrelatorio/libs/bootstrap-transfer-master/js/bootstrap-transfer.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var tConf = $('#transferConf').bootstrapTransfer({'target_id':'tConf'});
		    var tLoc = $('#transferLocais').bootstrapTransfer({'target_id':'tLoc'});
		    var tSO = $('#transferSO').bootstrapTransfer({'target_id':'tSo'});
            var tRede = $('#transferRede').bootstrapTransfer({'target_id':'tRede'});

		    tConf.populate([ // Popula o TRANSFER com as Classes de Coleta
  		        {% for c in conf %}
  		        {value: "{{ c.idClassProperty }}", content: "{{ c.nmPropertyName|e('js') }}" }{% if loop.last != true %},{% endif %}
  		        
  		        {% endfor %}
  		    ]);
		    
		    tLoc.populate([ // Popula o TRANSFER com Locais
		        {% for l in locais %}
		        {value: "{{ l[0]['idLocal'] }}", content:"{{ l[0]['nmLocal'] ~ '/' ~ l[0]['sgLocal'] }}"}{% if loop.last != true %},{% endif %}
		        
		        {% endfor %}
		    ]);
		    
		    tSO.populate([ // Popula o TRANSFER com Sistemas Operacionais
		        {% for _so in so %}
		        {value: "{{ _so['idSo'] }}", content:"{{ _so['teDescSo'] }}"}{% if loop.last != true %},{% endif %}
		        
		        {% endfor %}
		    ]);

            tRede.populate([ // Popula o TRANSFER com Locais
                {% for r in redes %}
                {value: "{{ r[0]['idRede'] }}", content:"{{ r[0]['nmRede'] ~ '/' ~ r[0]['teIpRede'] }}"}{% if loop.last != true %},{% endif %}

                {% endfor %}
            ]);

			var transferToHidden = {
					'form' : $('#frmFiltroRelatorioHWConfiguracoes'),
					'fieldsPrefix' : 'rel_filtro_hardware',
					'elms' : [
						{ 'transferElement' : tConf  , 'inputHiddenName' : 'conf' },
					    { 'transferElement' : tLoc , 'inputHiddenName' : 'locais' },
		      			{ 'transferElement' : tSO  , 'inputHiddenName' : 'so' },
                        { 'transferElement' : tRede  , 'inputHiddenName' : 'redes' }
      				]
      		};

			$('.selector-chooser a, a.selector-clearall, a.selector-chooseall').removeAttr('href').css('cursor', 'pointer');

      		// Ativa o tratamento dos dados dos transfers a partir da submissão do formulário
      		System.Form.bootStrapTransfer.handle( transferToHidden );
      		
		});
	</script>
{% endblock %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <div class="box grad_colour_black">
            <h2 class="box_head round_top"><i class="icon-list"></i> {{'Relatório de Configurações de Hardware' |trans }}</h2>
            <div class="block box_content round_bottom padding_10">
            
            <h3>{{'Relatório da Classe '|trans }} {{ classe }}</h3>
            <p class="muted">
            	{{ 'Este relatório exibe os dados das classes WMI coletadas nos computadores.'|trans }}
            	{{ 'É possível determinar quais propriedades serão exibidas no relatório, e restringir a pesquisa por sistemas operacionais e abrangência das redes.'|trans }}
            </p>
            <hr />
            
            <form method="post" id="frmFiltroRelatorioHWConfiguracoes" class="form-horizontal" target="_blank">
            
	            <h4>{{ 'Selecione as propriedades da classe WMI que deseja exibir'|trans }}</h4>
	            <div id="transferConf"></div>
	            
	            <h4>{{ 'Selecione os Locais'|trans }}</h4>
	            <div id="transferLocais"></div>

                <h4>{{ 'Selecione as Redes'|trans }}</h4>
                <div id="transferRede"></div>
	            
	            <h4>{{ 'Selecione os Sistemas Operacionais'|trans }}</h4>
	            <div id="transferSO"></div>
	            
	            <hr />
            	
				<div align="center">
					<button type="submit" class="btn btn-primary">
						<i class="icon-bar-chart"></i>
						{{ "Gerar Relatório"|trans }}
					</button>
				</div>
            
            </form>
            
            </div> <!-- /block -->
        </div> <!-- /box -->
    </div> <!-- /span -->
</div> <!-- /row -->
            

{% endblock %}