{% extends 'CacicCommonBundle::base.html.twig' %}

{% block body %}

<div class="row-fluid">

    {#{% if nivel['nmGrupoUsuarios'] == 'Admin' %}#}
    <div class="span6 column ui-sortable" id="col0">
		<div class="box grad_colour_black" id="box0">
			<h2 class="box_head round_top"><i class="icon-bar-chart"></i> {{ 'Estatísticas do sistema'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10">
					<ul class="statistics">
						<li><a href="{{ path('cacic_computador_navegar') }}"><i class="icon-laptop icon-large"></i><span class="blue">{{ estatisticas['totalCompMonitorados'] }}</span>{{ 'Totais de computadores monitorados'|trans }}</a></li>
						<li><a href="{{ path('cacic_relatorio_faturamento') }}"><i class="icon-exchange icon-large"></i><span class="blue">{{ estatisticas['totalComp'][0][1] }}</span> {{ 'Acessos dos agentes nos últimos 30 dias'|trans }}</a></li>
                        <li><a href="{{ path('cacic_relatorio_faturamento') }}"><i class="icon-retweet icon-large"></i><span class="blue">{{ (estatisticas['totalComp7Dias'][0][1]) }}</span> {{ 'Acessos dos agentes nos ultimos 7 dias'|trans }}
                            {% if ((estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1])) < 0 %}
                                <br><i class="icon-arrow-down icon-large"></i><span class="red">{{ (estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1]) }}</span>{{ ' Em relação aos 7 dias anteriores'|trans }}</a></li>
                            {% elseif ((estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1])) == 0 %}
                                <br><i class="icon-minus icon-large"></i><span class="gray">{{ (estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1]) }}</span>{{ ' Em relação aos 7 dias anteriores'|trans }}</a></li>
                            {% else %}
                            <br><i class="icon-arrow-up icon-large"></i><span class="blue">{{ (estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1]) }}</span>{{ ' Em relação aos 7 dias anteriores'|trans }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('cacic_log_insucesso_instalacao') }}"><i class="icon-warning-sign icon-large"></i><span class="red">{{ estatisticas['totalInsucessosInstalacao'] }}</span> {{ 'Erros de instalação nos últimos 7 dias'|trans }}</a></li>
                    </ul>
                    <br>
				</div>
			</div>
		</div> <!-- /box -->
	</div><!-- /span -->
    {#{% endif %}#}
	
	<div class="span6 column ui-sortable" id="col1">
		<div class="box grad_colour_black" id="box1">
			<h2 class="box_head round_top"> <i class="icon-info"></i> {{ 'Boas vindas'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10">
				<p>{{ 'Olá'|trans }}, {{ app.user.nmUsuarioCompleto }}, {{ 'seja bem-vindo à área administrativa do CACIC v3.'|trans }}</p>
                <p>O Cacic é capaz de fornecer um diagnóstico do parque computacional e disponibilizar informações como o número de equipamentos e sua distribuição nos mais diversos órgãos, os tipos de softwares utilizados e licenciados, configurações de hardware, entre outras. Também pode fornecer informações patrimoniais e a localização física dos equipamentos, ampliando o controle do parque computacional e a segurança na rede.</p>
				</div>
			</div>
		</div> <!-- /box -->
	</div> <!-- /span -->
	
</div> <!-- /row -->

<div class="row-fluid">

	<div class="span6 column ui-sortable" id="col2">

        <div class="box grad_colour_black" id="box2">
            <h2 class="box_head round_top"> <i class="icon-file"></i> {{ 'Agentes'|trans }}</h2>
            <div class="toggle_container">
                <div class="block box_content round_bottom padding_10">
                    <p>{{ "Para realizar a instalação dos agentes é necessário fornecer como senha sua Chave de API"|trans }}</p>
                    <div class="alert alert-info" style="text-align: center;">
                        <p>Senha dos Agentes:</p>
                        <p><b>{{ user.getApiKey() }}</b></p>
                    </div>
                    {% if is_granted("ROLE_ADMIN") %}
                        <ul class="statistics">
                            {% if agentes == 0 %}
                                <li>
                                    <a href="{{ path('cacic_agente') }}" title="{{ "Upload de Agentes"|trans }}" >
                                        <b>{{ "Passo 1"|trans }}</b>
                                        <i class="icon-ok icon-large"></i>
                                        <span class="green">0</span>
                                        {{ "Plataformas cadastradas sem Agentes"|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('cacic_agente') }}" title="{{ "Upload de Agentes"|trans }}" >
                                        <b>{{ "Passo 1"|trans }}</b>
                                        <i class="icon-ban-circle icon-large"></i>
                                        <span class="red">{{ agentes }}</span>
                                        {{ "Plataformas cadastradas sem Agentes"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if estatisticas['acoesRede'] is not empty  %}
                                <li>
                                    <a href="{{ path('cacic_modulo_index') }}" title="{{ "Configurar Módulos"|trans }}">
                                        <b>{{ "Passo 2"|trans }}</b>
                                        <i class="icon-ban-circle icon-large"></i>
                                        <span class="red">{{ estatisticas['acoesRede']|length }}</span>
                                        {{ "Subrede sem coletas habilitadas"|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('cacic_modulo_index') }}" title="{{ "Configurar Módulos"|trans }}">
                                        <b>{{ "Passo 2"|trans }}</b>
                                        <i class="icon-ok icon-large"></i>
                                        <span class="green">0</span>
                                        {{ "Subredes sem coletas habilitadas"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if estatisticas['semModulos']['redes'] != estatisticas['semModulos']['redesModulos'] %}
                                <li>
                                    <a href="{{ path('cacic_atualizacao_subredes') }}" title="{{ "Atualização de subredes"|trans }}">
                                        <b>{{ "Passo 3"|trans }}</b>
                                        <i class="icon-ban-circle icon-large"></i>
                                        <span class="red">{{ estatisticas['semModulos']['redes'] - estatisticas['semModulos']['redesModulos'] }}</span>
                                        {{ "Subredes sem agentes ativos"|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('cacic_atualizacao_subredes') }}" title="{{ "Atualização de subredes"|trans }}">
                                        <b>{{ "Passo 3"|trans }}</b>
                                        <i class="icon-ok icon-large"></i>
                                        <span class="green">0</span>
                                        {{ "Subredes sem agentes ativos"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <hr>
                        <div style="text-align: center;">
                            <a class="btn btn-default btn-small" type="submit" href="{{ path('cacic_agente') }}" title="{{ "Upload de Agentes"|trans }}" target="_blank">
                                <i class="icon-file"></i>
                                {{ "Upload de agentes"|trans }}
                            </a>
                            <a class="btn btn-default btn-small" type="submit" href="{{ path('cacic_modulo_index') }}" title="{{ "Configurar Módulos"|trans }}" target="_blank">
                                <i class="icon-cog"></i>
                                {{ "Configurar módulos"|trans }}
                            </a>
                            <a class="btn btn-default btn-small" type="submit" href="{{ path('cacic_atualizacao_subredes') }}" title="{{ "Atualização de subredes"|trans }}" target="_blank">
                                <i class="icon-screenshot"></i>
                                {{ "Atualização de subrede"|trans }}
                            </a>
                        </div>
                    {% else %}
                        <ul class="statistics">
                            {% if agentes == 0 %}
                                <li>
                                    <a name="agentes" title="{{ "Upload de Agentes"|trans }}" >
                                        <b>{{ "Passo 1"|trans }}</b>
                                        <i class="icon-ok icon-large"></i>
                                        <span class="green">0</span>
                                        {{ "Plataformas cadastradas sem Agentes"|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a name="agentes" title="{{ "Upload de Agentes"|trans }}" >
                                        <b>{{ "Passo 1"|trans }}</b>
                                        <i class="icon-ban-circle icon-large"></i>
                                        <span class="red">{{ agentes }}</span>
                                        {{ "Plataformas cadastradas sem Agentes"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if estatisticas['acoesRede'] is not empty  %}
                                <li>
                                    <a name="acoes" title="{{ "Configurar Módulos"|trans }}">
                                        <b>{{ "Passo 2"|trans }}</b>
                                        <i class="icon-ban-circle icon-large"></i>
                                        <span class="red">{{ estatisticas['acoesRede']|length }}</span>
                                        {{ "Subrede sem coletas habilitadas"|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a name="acoes" title="{{ "Configurar Módulos"|trans }}">
                                        <b>{{ "Passo 2"|trans }}</b>
                                        <i class="icon-ok icon-large"></i>
                                        <span class="green">0</span>
                                        {{ "Subredes sem coletas habilitadas"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if estatisticas['semModulos']['redes'] != estatisticas['semModulos']['redesModulos'] %}
                                <li>
                                    <a name="atualiza" title="{{ "Atualização de subredes"|trans }}">
                                        <b>{{ "Passo 3"|trans }}</b>
                                        <i class="icon-ban-circle icon-large"></i>
                                        <span class="red">{{ estatisticas['semModulos']['redes'] - estatisticas['semModulos']['redesModulos'] }}</span>
                                        {{ "Subredes sem agentes ativos"|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a name="atualiza" title="{{ "Atualização de subredes"|trans }}">
                                        <b>{{ "Passo 3"|trans }}</b>
                                        <i class="icon-ok icon-large"></i>
                                        <span class="green">0</span>
                                        {{ "Subredes sem agentes ativos"|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div> <!-- /box -->

        {% if is_granted("ROLE_ADMIN") %}
            <div class="box grad_colour_black" id="box3">
                <h2 class="box_head round_top"><i class="icon-heart"></i> {{ 'Atalhos'|trans }}</h2>
                <div class="toggle_container">
                    <div class="block box_content round_bottom padding_10 shortcuts">
                        <a href="{{ path('cacic_agente') }}" class="shortcut">
                            <i class="shortcut-icon icon-file"></i>
                            <span class="shortcut-label">{{ 'Agentes'|trans }}</span>
                        </a>

                        <a href="{{ path('cacic_usuario_index') }}" class="shortcut">
                            <i class="shortcut-icon icon-group"></i>
                            <span class="shortcut-label">{{ 'Usuários'|trans }}</span>
                        </a>

                        <a href="{{ path('cacic_local_index') }}" class="shortcut">
                            <i class="shortcut-icon icon-globe"></i>
                            <span class="shortcut-label">{{ 'Locais'|trans }}</span>
                        </a>

                        <a href="{{ path('cacic_modulo_index') }}" class="shortcut">
                            <i class="shortcut-icon icon-cogs"></i>
                            <span class="shortcut-label">{{ 'Módulos'|trans }}</span>
                        </a>
                    </div>
                </div>
            </div> <!-- /box -->
        {% endif %}

	</div><!-- /span -->

	<div class="span6 column ui-sortable widget-table action-table" id="col4">
		<div class="box grad_colour_black" id="box4">
			<h2 class="box_head round_top"><i class="icon-desktop"></i> {{ 'Computadores Monitorados por Sistema Operacional'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>{{ 'Sistema Operacional'|trans }}</th>
								<th style="text-align: center">{{ 'Quantidade'|trans }}</th>
								<th style="text-align: center">%</th>
							</tr>
						</thead>
						<tbody>
                            {% set total = 0 %}
                            {% for so in estatisticas['totalCompPorSO'] %}
                                {% set total = (total + so['numComp']) %}
                            {% endfor %}
							{% for so in estatisticas['totalCompPorSO'] %}
							<tr>
								<td>
                                    <a href="{{ path('cacic_relatorio_so_detalhar', {'idSo': so['idSo']}) }}" title="{{ "Ver relatório detalhado"|trans }}" target="_blank">
                                        {{ so['teDescSo'] }}
                                    </a>
                                </td>
								<td style="text-align: center">
                                    <a href="{{ path('cacic_relatorio_so_detalhar', {'idSo': so['idSo']}) }}" title="{{ "Ver relatório detalhado"|trans }}" target="_blank">
                                        <b>{{ so['numComp'] }}</b>
                                    </a>
                                </td>
								<td style="text-align: center">
                                    <a href="{{ path('cacic_relatorio_so_detalhar', {'idSo': so['idSo']}) }}" title="{{ "Ver relatório detalhado"|trans }}" target="_blank">
                                        {{ ((so['numComp']/total)*100)|round(2, 'floor') }}%
                                    </a>
                                </td>
							</tr>
							{% else %}
							<tr><td colspan="3" style="text-align: center"><b>{{ 'NENHUM REGISTRO ENCONTRADO'|trans }}</b></td></tr>
							{% endfor %}
                            <tr>
                                <td><b>{{ 'Total'|trans }}</b></td>
                                <td style="text-align: center" colspan="2"><b>{{ total }}</b></td>
                            </tr>
						</tbody>
					</table>
                    <center>
                        <a class="btn btn-success" type="submit" href="{{ path('cacic_relatorio_so_consolidado') }}" title="{{ "Gerar relatório consolidado"|trans }}" target="_blank">
                            <i class="icon-bar-chart"></i>
                            {{ "Gerar relatório"|trans }}
                        </a>
                    </center>
				</div>
			</div>
		</div> <!-- /box -->
	</div> <!-- /span -->

</div> <!-- /row -->

{% endblock %}
