{% extends 'CacicCommonBundle::base.html.twig' %}

{% block body %}

<div class="row-fluid">

    {% if nivel['nmGrupoUsuarios'] == 'Admin' %}
    <div class="span6 column ui-sortable" id="col0">
		<div class="box grad_colour_black" id="box0">
			<h2 class="box_head round_top"><i class="icon-bar-chart"></i> {{ 'Estatísticas do sistema'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10">
					<ul class="statistics">
						<li><a href="{{ path('cacic_computador_navegar') }}"><i class="icon-laptop icon-large"></i><span class="blue">{{ estatisticas['totalCompMonitorados'] }}</span>{{ 'Totais de computadores monitorados'|trans }}</a></li>
						<li><a href="{{ path('cacic_relatorio_faturamento') }}"><i class="icon-exchange icon-large"></i><span class="blue">{{ estatisticas['totalComp'][0][1] }}</span> {{ 'Acessos dos agentes nos últimos 30 dias'|trans }}</a></li>
                        <li><a href="{{ path('cacic_relatorio_faturamento') }}"><i class="icon-retweet icon-large"></i><span class="blue">{{ (estatisticas['totalComp7Dias'][0][1]) }}</span> {{ 'Acessos dos agentes nos ultimos 7 dias'|trans }}
                            {% if ((estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1])) < 0 %}
                                <br><i class="icon-arrow-down icon-large"></i><span class="red">{{ (estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1]) }}</span>{{ ' Em relação aos 7 dias anteriores'|trans }}</a></li>
                            {% elseif ((estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1])) == 0 %}
                                <br><i class="icon-minus icon-large"></i><span class="gray">{{ (estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1]) }}</span>{{ ' Em relação aos 7 dias anteriores'|trans }}</a></li>
                            {% else %}
                            <br><i class="icon-arrow-up icon-large"></i><span class="blue">{{ (estatisticas['totalComp7Dias'][0][1]) -(estatisticas['totalComp14Dias'][0][1]) }}</span>{{ ' Em relação aos 7 dias anteriores'|trans }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('cacic_log_insucesso_instalacao') }}"><i class="icon-warning-sign icon-large"></i><span class="red">{{ estatisticas['totalInsucessosInstalacao'] }}</span> {{ 'Totais de tentativas de instalação malsucedidas'|trans }}</a></li>
                    </ul>
				</div>
			</div>
		</div> <!-- /box -->
	</div><!-- /span -->
    {% endif %}
	
	<div class="span6 column ui-sortable" id="col1">
		<div class="box grad_colour_black" id="box1">
			<h2 class="box_head round_top"> <i class="icon-file"></i> {{ 'Boas vindas'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10">
				<p>{{ 'Olá'|trans }}, {{ app.user.nmUsuarioCompleto }}, {{ 'seja bem-vindo à área administrativa do CACIC v3.'|trans }}</p>
                <p>O Cacic é capaz de fornecer um diagnóstico do parque computacional e disponibilizar informações como o número de equipamentos e sua distribuição nos mais diversos órgãos, os tipos de softwares utilizados e licenciados, configurações de hardware, entre outras. Também pode fornecer informações patrimoniais e a localização física dos equipamentos, ampliando o controle do parque computacional e a segurança na rede.</p>
				</div>
			</div>
		</div> <!-- /box -->
	</div> <!-- /span -->
	
</div> <!-- /row -->

<div class="row-fluid">

	<div class="span6 column ui-sortable" id="col2">
		<div class="box grad_colour_black" id="box2">
			<h2 class="box_head round_top"><i class="icon-heart"></i> {{ 'Atalhos'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10 shortcuts">
					<a href="{{ path('cacic_usuario_index') }}" class="shortcut">
						<i class="shortcut-icon icon-group"></i>
						<span class="shortcut-label">{{ 'Usuários'|trans }}</span>
					</a>
					
					<a href="{{ path('cacic_local_index') }}" class="shortcut">
						<i class="shortcut-icon icon-globe"></i>
						<span class="shortcut-label">{{ 'Locais'|trans }}</span>
					</a>
					
					<a href="{{ path('cacic_modulo_index') }}" class="shortcut">
						<i class="shortcut-icon icon-cogs"></i>
						<span class="shortcut-label">{{ 'Módulos'|trans }}</span>
					</a>
				</div>
			</div>
		</div> <!-- /box -->
	</div><!-- /span -->
			
	<div class="span6 column ui-sortable widget-table action-table" id="col3">
		<div class="box grad_colour_black" id="box3">
			<h2 class="box_head round_top"><i class="icon-desktop"></i> {{ 'Computadores Monitorados por Sistema Operacional'|trans }}</h2>
			<div class="toggle_container">
				<div class="block box_content round_bottom padding_10">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>{{ 'Sistema Operacional'|trans }}</th>
								<th style="text-align: center">{{ 'Quantidade'|trans }}</th>
								<th style="text-align: center">%</th>
							</tr>
						</thead>
						<tbody>
							{% for so in estatisticas['totalCompPorSO'] %}
							<tr>
								<td>{{ so['teDescSo'] }}</td>
								<td style="text-align: center">{{ so['numComp'] }}</td>
								<td style="text-align: center"></td>
							</tr>
							{% else %}
							<tr><td colspan="3" style="text-align: center"><b>{{ 'NENHUM REGISTRO ENCONTRADO'|trans }}</b></td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div> <!-- /box -->
	</div> <!-- /span -->

</div> <!-- /row -->

{% endblock %}
