{% extends '::base.html.twig' %}

{% block breadcrumb %}
   <li><a href="{{ path('cacic_tipo_licenca_index') }}">{{ "Tipos de Licenças"|trans }}</a></li> /
   <li class="active">{{ "Cadastro"|trans }}</li>
{% endblock %}

{% block body %}

<div class="row-fluid">

  <div class="span8">
     <div class="box grad_colour_black">

       <h2 class="box_head round_top"><i class="icon-edit icon-large"></i>{{ "Dados do Tipos de Licenças"|trans }}</h2>

       <div class="block box_content round_bottom padding_10">

         <form id="formTiposLicencas" class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>
            <div class="tabbable">
            {{ form_widget(form, {'form_type': 'horizontal'} ) }}
            {{ form_rest(form) }}
            </div>
            <br />
            <div class="control-group">
                <div class="controls">
                    <button type="reset" class="btn">
                        <i class="icon-refresh"></i>
                        {{ "Resetar Valores"|trans }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok-sign"></i>
                        {{ "Salvar Dados"|trans }}
                    </button>
                </div>
            </div>

         </form>
         <hr />
         <div>
            <a class="btn btn-danger"  href="{{ path('cacic_tipo_licenca_index') }}">
                <i class="icon-remove-sign"></i>
                {{ "Cancelar"|trans }}
            </a>
         </div>

       </div> <!-- /block -->
     </div> <!-- /box -->
  </div> <!-- /span8 -->
  
  <div class="span4">
        <div class="box grad_colour_black">

            <h2 class="box_head round_top"><i class="icon-info-sign"></i> {{ "Informações Adicionais"|trans }}</h2>
                        
            <div class="block box_content round_bottom padding_10">
                <p>
                    {{ "Os itens destacados em"|trans }} <b class="red">{{ "vermelho"|trans }}</b> {{ "são de preenchimento obrigatório"|trans }}.
                </p>
            </div> <!-- /block -->
        </div> <!-- /box -->
    </div> <!-- span4 -->
  
</div> <!-- /row -->
{% endblock %}