{% extends '::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ 'Log de Acesso'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">

            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-search"></i> {{'Pesquisa de Acessos' |trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                        
                    <h4>{{ "Filtros para consulta"|trans }}</h4><br />
                    
                    <form id="formLog" class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" >
                        
                        <div class="control-group">
                            <label for="log_acesso_periodo" class="control-label">{{ 'Período'|trans }}</label>
                            <div class="controls">
                               {{ form_widget(form.dtAcaoInicio, { 'attr': {'class': 'datepicker_on'} }) }} a {{ form_widget(form.dtAcaoFim, { 'attr': {'class': 'datepicker_on'} }) }}
                               <p class="help-block">{{ "Informe o período no qual deseja realizar a pesquisa."|trans }}</p>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label for="log_acesso_local" class="control-label">{{ 'Local:'|trans }}</label>
                            <div class="controls">
                                {{ form_widget(form.idLocal, {'form_type': 'horizontal'}) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button type="reset" class="btn">
		                            <i class="icon-refresh"></i>
		                            {{ "Resetar Valores"|trans }}
		                        </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-search"></i>
                                    {{ 'Filtrar'|trans }}
                                </button>
                            </div>
                        </div>
                        
                    </form>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span8 -->
        
        <div class="span4">
            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-info-sign"></i> {{ "Informações Adicionais"|trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                    <p>
                        {{ "Este módulo permite a visualização dos acessos efetuados no sistema"|trans }}.
                    </p>
                    <p>
                        {{ "É possível visualizar as atividades executadas pelo usuário na data, bastando clicar sobre uma de suas informações"|trans }}.
                    </p>
                    <p>
                        {{ "O período é obrigatório"|trans }}.
                    </p>
                    <p>
                        {{ "Não selecionar nenhum valor em determinado critério é o mesmo que selecionar todos"|trans }}.
                    </p>
                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- span4 -->
    </div> <!-- /row -->
    
    {% if logs is not null %}
        {% include 'CacicCommonBundle:Log:acessoPesquisa.html.twig' with { acesso: form } %}
    {% endif %}
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script src="{{ asset('bundles/caciccommon/js/jquery.ui.datepicker-pt-BR.js') }}"></script>

<script type="text/javascript">
	$(document).ready(function(){
        $(".datepicker_on").datepicker({ altFormat: "dd/mm/yy" }).mask('99/99/9999');
    });
</script>

{% endblock %}