{% extends '::base.html.twig' %}

{% block breadcrumb %}
    <li xmlns="http://www.w3.org/1999/html"><a href="{{ path('cacic_log_atividade') }}">{{ 'Log de Atividade'|trans }}</a></li> /
    <li class="active">{{ 'Pesquisa de Atividade'|trans }}</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span8">

            <div class="box grad_colour_black">

                <h2 class="box_head round_top">{{'Pesquisa de Atividade' |trans }}</h2>

                <div class="block box_content round_bottom padding_10">
                    <center>
                    <form id="formLog" class="form-horizontal" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" >
                        <div class="tabbable">
                            <center><h5>{{ 'Selecione o período no qual deverá ser realizada a consulta:'|trans }}</h5></center>
                            <br />
                            {{ form_widget(form.dt_acao_inicio)}}
                                        a
                            {{ form_widget(form.dt_acao_fim) }}

                            <br /><br />

                            <center><h5>{{ 'Selecione o Local:'|trans }}</h5></center>
                            <br />
                            {{ form_widget(form.idLocal, {'form_type': 'horizontal'}) }}
                            </div>
                        <br />
                        <div class="control-group">
                            <div class="controls">
                                <a class="btn btn-danger"  href="{{ path('cacic_log_atividade') }}">
                                    <i class="icon-trash"></i>
                                    {{ 'Limpar'|trans }}
                                </a>
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-search"></i>
                                    {{ 'Filtrar'|trans }}
                                </button>
                            </div>
                        </div>

                        {% if logs != false %}
                            {% block pesquisa %}
                                {% include 'CacicCommonBundle:Log:atividadePesquisa.html.twig' with { acesso: form } %}
                            {% endblock %}
                        {% else %}
                            <center><b>{{ "Nenhum atividade realizado no periodo informado."|trans }}</b></center>
                        {% endif %}
                    </form>
                </center>

                </div> <!-- /block -->
            </div> <!-- /box -->
        </div> <!-- /span8 -->
    </div> <!-- /row -->
{% endblock %}

{% block javascripts %}

{{ parent() }}
    <script type="text/javascript">
    
     $('#form_dt_acao_inicio, #form_dt_acao_fim').mask('99/99/9999');

    </script>

{% endblock %}