{% extends 'CacicCommonBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">3G Device</li>
{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span12">

            <div class="box grad_colour_black">

                <h2 class="box_head round_top"><i class="icon-magnet"></i> 3G Device</h2>

                <div class="block box_content round_bottom padding_10">

                    <h3>{{ "Lista de 3G Device coletados"|trans }}</h3>
                    <p>{{ "Neste módulo observamos os 3G device do sistema"|trans }}</p>
                    <br />

                    <a class="btn btn-success" type="submit" href="{{ path('cacic_device3g_csv') }}" target="_self">
                        <i class="icon-download-alt"></i>
                        {{'Gerar CSV'|trans  }}
                    </a>
                    <br>

                    <hr>

                    {% if UsbDevice|length > 0 %}

                    <table class="display datatable" id="datatable"  style="text-align: center">
                        <thead>
                        <tr>
                            <th width="30%" style="text-align: center">{{ "Valor Coletado"|trans }}</th>
                            <th width="40%" style="text-align: center">{{ "Nome"|trans }}</th>
                            <th width="20%" style="text-align: center">{{ "Fabricante"|trans }}</th>
                            <th width="10%" style="text-align: center">{{ "Coletados"|trans }}</th>
                            <th width="10%"></th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for UsbDevice in UsbDevice %}

                            <tr>
                                <td>{{ UsbDevice.teClassPropertyValue }}</td>
                                <td>{{ UsbDevice.displayName }}</td>
                                <td>{{ UsbDevice.publisher }}</td>
                                <td>{{ UsbDevice.nComp }}</td>
                                <td>
                                    <a class="btn" href="{{ path('cacic_relatorio_hardware_wmi_detalhe', {'classe': 'SoftwareList', 'propriedade': UsbDevice.nmPropertyName, 'valor': UsbDevice.teClassPropertyValue}) }}" title="{{ "Lista de computadores"|trans }}" target="_blank">
                                        <i class="icon-search"></i>
                                    </a>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td style="text-align: center" colspan="5"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% else %}

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="50%" style="text-align: center">{{ "Dispositivo"|trans }}</th>
                            <th width="50%" style="text-align: center">{{ "Fabricante"|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td style="text-align: center" colspan="3"><b>{{ "NENHUM REGISTRO ENCONTRADO!"|trans }}</b></td>
                        </tr>

                        </tbody>
                    </table>

                    {% endif %}
                </div> <!-- /block -->
            </div><!-- /box -->
        </div><!-- /span -->
    </div><!-- /row -->
{% endblock %}
