{% extends '::base.html.twig' %}

{% block body %}

 <div class="span8">
    <div class="widget">
        <div class="widget-content">
            <div class="page-header">
                <h3>Dados do Aplicativo Monitorado</h3>
            </div>

            <form id="formAplicativo" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" {{ form_enctype(form) }}>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#form-formAplicativo-dados" data-toggle="tab"><br />Dados do Aplicativo<br /><br /></a>
                        </li>
                        <li>
                            <a href="#form-formAplicativo-consulta1" data-toggle="tab">
                                Características
                                <br />em ambientes
                                <br />Windows 9x/Me</a>
                        </li>
                        <li>
                            <a href="#form-formAplicativo-consulta2" data-toggle="tab">
                                Características <b>em</b>
                                <br /> ambientes Windows
                                <br />NT/2000/XP/2003</a>
                        </li>
                        <li>
                            <a href="#form-formAplicativo-redes" data-toggle="tab"><br />Selecione as redes:<br /><br /></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="form-formAplicativo-dados">
                            <h5>Dados do Aplicativo </h5>
                            <br />
                            {{ form_row(form.nmAplicativo) }}
                            {{ form_row(form.idSo) }}
                            {{ form_row(form.inDisponibilizaInfo) }}
                            {{ form_row(form.inDisponibilizaInfoUsuarioComum) }}
                            {{ form_row(form.teDescritivo) }}

                            {{ form_row(form.selCsIdeLicenca) }}
                            {{ form_row(form.csIdeLicenca) }}
                        </div>
                        <div class="tab-pane" id="form-formAplicativo-consulta1">
                            <h5>Características em ambientes Windows 9x/Me</h5>
                            <br />
                            {{ form_row(form.selTeCarInstW9x) }}
                            {{ form_row(form.teCarInstW9x) }}

                            {{ form_row(form.selCsCarVerW9x) }}
                            {{ form_row(form.csCarVerW9x) }}
                        </div>
                        <div class="tab-pane" id="form-formAplicativo-consulta2">
                            <h5>Características em ambientes Windows NT/2000/XP/2003</h5>
                            <br />
                            {{ form_row(form.selTeCarInstWnt) }}
                            {{ form_row(form.teCarInstWnt) }}

                            {{ form_row(form.selCsCarVerWnt) }}
                            {{ form_row(form.csCarVerWnt) }}
                        </div>
                        <div class="tab-pane" id="form-formAplicativo-redes">
                            <h5>Selecao de redes para aplicacao desta coleta de informacoes</h5>
                            <br />
                            <div class="form-transfer">
                                <div class="form-transfer-from">
                                    {{ form_row(form.idRede) }}
                                </div>

                                <div class="form-transfer-options">
                                    <input id="rede-add" type="button" value="   &gt;   " class="transfer-button" />
                                    <br>
                                    <input id="rede-remove" type="button" value="   &lt;   " class="transfer-button" />
                                </div>

                                <div class="form-transfer-to">
                                    {{ form_row(form.idRede1) }}
                                </div>
                            </div>
                        </div>
                    </div><!-- /tab-content -->
                </div><!-- /tabbable -->
                <br />
                <div class="control-group">
                    <div class="controls">
                        <button type="reset" class="btn">
                            <i class="icon-refresh"></i>
                            Resetar Valores
                        </button>
                        <button type="submit" formnovalidate class="btn btn-primary">
                            <i class="icon-ok-sign"></i>
                            Salvar Dados
                        </button>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>

            <hr />
            <div>
                <a class="btn btn-danger"  href="{{ path('cacic_aplicativo_index') }}">
                    <i class="icon-remove-sign"></i>
                    Cancelar
                </a>
            </div>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
 </div> <!-- /span8 -->
    
    <script type="text/javascript">

    $().ready(function() {
        var csIdeLicenca_desc = {
            1: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao',
            2: 'Ex.:  Arquivos de Programas\\Cacic\\Cacic2.ini/Patrimonio/nu_CPU'
        };
        var carInstW9x_desc = {
            1: 'Ex.:  Arquivos de Programas\\Cacic\\Programas\\cacic.exe',
            2: 'Ex.:  Arquivos de Programas\\Cacic\\Dados\\config.ini',
            3: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao'
        };
        var carVerW9x_desc = {
            1: 'Ex.:  Arquivos de Programas\\Cacic2\\Programas\\ger_cols.exe',
            2: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao',
            3: 'Ex.:  Arquivos de Programas\\Cacic\\Cacic2.ini/Patrimonio/nu_CPU',
            4: 'Ex.:  C:\\Cacic\\modulos\\col_moni.exe'
        };
        var carInstWnt_desc = {
            1: 'Ex.:  Arquivos de Programas\\Cacic2\\Programas\\ger_cols.exe',
            2: 'Ex.:  Arquivos de Programas\\Cacic\\Dados\\config.ini',
            3: 'Ex.:  HKEY_LOCAL_MACHINE\\Software\\Dataprev\\Cacic2\\id_versao'
        };


        $('#rede-add').click(function() {
            $( '#aplicativo_idRede' ).effect( 'transfer', { to: $( '#aplicativo_idRede1' ) }, 500 );
            $('#aplicativo_idRede option:selected').remove().appendTo('#aplicativo_idRede1');
        });

        $('#rede-remove').click(function() {
            $( '#aplicativo_idRede1' ).effect( 'transfer', { to: $( '#aplicativo_idRede' ) }, 500 );
            $('#aplicativo_idRede1 option:selected').remove().appendTo('#aplicativo_idRede');
        });

        $( '#aplicativo_selCsIdeLicenca' ).change(function(){
            if ( $( this).val() == undefined || $( this).val() == 0 )
            $( '#aplicativo_csIdeLicenca' ).attr('placeholder', '');
            else
            $( '#aplicativo_csIdeLicenca' ).attr('placeholder', csIdeLicenca_desc[ $( this ).val() ] );
        });

        $( '#aplicativo_selTeCarInstW9x' ).change(function(){
            if ( $( this).val() == undefined || $( this).val() == 0 )
                $( '#aplicativo_teCarInstW9x' ).attr('placeholder', '');
            else
                $( '#aplicativo_teCarInstW9x' ).attr('placeholder', carInstW9x_desc[ $( this ).val() ] );
        });

        $( '#aplicativo_selCsCarVerW9x' ).change(function(){
            if ( $( this).val() == undefined || $( this).val() == 0 )
                $( '#aplicativo_csCarVerW9x' ).attr('placeholder', '');
            else
                $( '#aplicativo_csCarVerW9x' ).attr('placeholder', carVerW9x_desc[ $( this ).val() ] );
        });

        $( '#aplicativo_selTeCarInstWnt' ).change(function(){
            if ( $( this).val() == undefined || $( this).val() == 0 )
                $( '#aplicativo_teCarInstWnt' ).attr('placeholder', '');
            else
                $( '#aplicativo_teCarInstWnt' ).attr('placeholder', carInstWnt_desc[ $( this ).val() ] );
        });

        $( '#aplicativo_selCsCarVerWnt' ).change(function(){
            if ( $( this).val() == undefined || $( this).val() == 0 )
                $( '#aplicativo_csCarVerWnt' ).attr('placeholder', '');
            else
                $( '#aplicativo_csCarVerWnt' ).attr('placeholder', carVerW9x_desc[ $( this ).val() ] );
        });

        $( '#formPerfilAplicativoMonitorado' ).submit(function(){
            $( '#aplicativo_idSo' ).val( $( '#aplicativo_so' ).val() );
        });
    });

    </script>

{% endblock %}